# Import e tratamento dos dados

## Import de dados

In [1]:
import pandas as pd
import chardet

In [2]:
with open("02_dados_pre_tratados/dados_camara_2015.csv", "rb") as f:
    result = chardet.detect(f.read())

df_camara_2015 = pd.read_csv("02_dados_pre_tratados/dados_camara_2015.csv", sep=";", encoding=result['encoding'])
df_camara_2015

,Despesa,Número,Data,Nome,CPF/CNPJ,Empenhado(R$),Liquidado(R$),Pago(R$),Saldo(R$)
0,8,1,30/01/2015,Câmara Municipal de Cajazeiras,08.841.553/0001-89,"188.983,14","188.983,14","188.983,14",0
1,11,2,30/01/2015,CAMARA MUNICIPAL DE CAJAZEIRAS,08.841.553/0001-89,"243,5","243,5","243,5",0
2,12,3,30/01/2015,Marcos Helder,646.603.624-34,"1.500,00","1.500,00","1.500,00",0
3,13,4,30/01/2015,CAMARA MUNICIPAL DE CAJAZEIRAS,08.841.553/0001-89,"6.221,00","6.221,00","6.221,00",0
4,16,5,30/01/2015,Marcos Helder,646.603.624-34,"10.740,00","10.740,00","10.740,00",0
...,...,...,...,...,...,...,...,...,...
113,16,114,30/12/2015,Marcos Helder,646.603.624-34,"8.270,00","8.270,00","8.270,00",0
114,17,115,30/12/2015,CAMARA MUNICIPAL DE CAJAZEIRAS,08.841.553/0001-89,"25.151,17","25.151,17","25.151,17",0
115,22,116,30/12/2015,CAMARA MUNICIPAL DE CAJAZEIRAS,08.841.553/0001-89,"47.363,26","47.363,26","47.363,26",0
116,24,117,30/12/2015,CAMARA MUNICIPAL DE CAJAZEIRAS,08.841.553/0001-89,"15.304,88","15.304,88","15.304,88",0
117,25,118,30/12/2015,CAMARA MUNICIPAL DE CAJAZEIRAS,08.841.553/0001-89,"1.654,00","1.654,00","1.654,00",0

In [3]:
df_instituto_previdencia_2015 = pd.read_csv("02_dados_pre_tratados/dados_instituto_previdencia_2015.csv", sep=";", encoding=result['encoding'])
df_instituto_previdencia_2015

,Despesa,Número,Data,Nome,CPF/CNPJ,Empenhado(R$),Liquidado(R$),Pago(R$),Saldo(R$)
0,130,1,05/01/2015,CAIXA ECONOMICA FEDERAL,00.360.305/0040-10,"427,05","427,05","427,05",0
1,125,2,07/01/2015,MEILSON JOSE OLIVEIRA DA CUNHA,752.938.704-91,600,600,600,0
2,125,3,07/01/2015,WANDERSON BANDEIRA DE SOUZA,022.155.044-55,750,750,750,0
3,125,4,08/01/2015,FRANCISCO GOMES DE ARAUJO,098.419.034-15,500,500,500,0
4,132,5,06/01/2015,REGINALDO SOARES MOREIRA - ME,17.852.505/0001-87,500,500,500,0
...,...,...,...,...,...,...,...,...,...
448,123,455,30/12/2015,INSS,29.979.036/0169-00,330,330,0,330
449,129,456,30/12/2015,JESSICA NASCIMENTO OLIVEIRA,053.612.333-07,"1.000,00","1.000,00",0,"1.000,00"
450,140,457,30/12/2015,SALARIO FAMILIA-PREFEITURA MUNICIPAL,08.923.971/0001-15,"4.273,10","4.273,10",0,"4.273,10"
451,140,458,30/12/2015,MUNICIPIO DE CAJAZEIRAS FUNDO MUNICIPAL DE SAU...,11.902.878/0001-39,"2.626,74","2.626,74",0,"2.626,74"
452,140,459,30/12/2015,FUNDO DE ASSISTENCIA SOCIAL DE CAJAZEIRAS,13.291.727/0001-17,"235,8","235,8",0,"235,8"

In [4]:
df_prefeitura_2015 = pd.read_csv("02_dados_pre_tratados/dados_prefeitura_2015.csv", sep=";", encoding=result['encoding'])
df_prefeitura_2015

,Despesa,Número,Data,Nome,CPF/CNPJ,Empenhado(R$),Liquidado(R$),Pago(R$),Saldo(R$)
0,958,253,30/01/2015,TELEMAR NORTE LESTE S.A.(OI FIXO),33.000.118/0012-21,"89,28","89,28","89,28",0
1,958,254,30/01/2015,TELEMAR NORTE LESTE S.A.(OI FIXO),33.000.118/0012-21,"111,53","111,53","111,53",0
2,958,255,30/01/2015,TELEMAR NORTE LESTE S.A.(OI FIXO),33.000.118/0012-21,"93,45","93,45","93,45",0
3,958,256,30/01/2015,TELEMAR NORTE LESTE S.A.(OI FIXO),33.000.118/0012-21,"89,44","89,44","89,44",0
4,1154,257,30/01/2015,MARIA DAS GRAÇAS LUCENA MESSIAS,40.973.307/0001-93,"860,26","860,26","860,26",0
...,...,...,...,...,...,...,...,...,...
8249,585,8084,30/12/2015,FRANCA CAMINHOES LTDA,16.737.978/0001-70,"541.200,00",0,0,"541.200,00"
8250,602,8248,30/12/2015,Prefeitura Municipal de Cajazeiras,08.923.971/0001-15,"12.410,38","12.410,38",0,"12.410,38"
8251,612,8262,30/12/2015,INSTITUTO BRAS DO MEIO AMBIENTE E DOS REC NAT ...,03.659.166/0007-06,"1.772,20","1.772,20",0,"1.772,20"
8252,612,8290,30/12/2015,C.F.B BARROSO - ME,16.779.292/0001-42,"5.000,00","5.000,00",0,"5.000,00"
8253,607,8344,30/12/2015,FRANCISCO FAGNER SOARES SOUSA AUTOPEÇAS - ME,19.252.387/0001-00,"6.687,00",0,0,"6.687,00"

In [5]:
df_sctrans_2015 = pd.read_csv("02_dados_pre_tratados/dados_sctrans_2015.csv", sep=";", encoding=result['encoding'])
df_sctrans_2015

,Despesa,Número,Data,Nome,CPF/CNPJ,Empenhado(R$),Liquidado(R$),Pago(R$),Saldo(R$)
0,63,1,09/01/2015,LEIA COMERCIAL DE LIVROS E MAGAZINE LTDA,11.895.653/0001-00,"2.216,53","2.216,53","2.216,53",0
1,67,2,01/01/2015,JOSELITA ALVES DE OLIVEIRA ROLIM,526.405.584-04,450,450,450,0
2,67,3,05/01/2015,LUIZ ANTONIO DE S. LIMA,414.315.704-78,"1.200,00","1.200,00","1.200,00",0
3,67,4,06/01/2015,FRANCISCO DAS CHAGAS PEDROSA,874.078.504-10,250,250,250,0
4,67,5,08/01/2015,ANTONIA GONZAGA DE ANDRADE LEITE,437.930.534-15,570,570,570,0
...,...,...,...,...,...,...,...,...,...
380,56,388,31/12/2015,INSS - INSTITUTO NACIONAL DO SEGURO SOCIAL,29.979.036/0169-00,"1.520,46","1.520,46",0,"1.520,46"
381,56,389,31/12/2015,INSS - INSTITUTO NACIONAL DO SEGURO SOCIAL,29.979.036/0169-00,"1.520,46","1.520,46",0,"1.520,46"
382,56,390,31/12/2015,INSS - INSTITUTO NACIONAL DO SEGURO SOCIAL,29.979.036/0169-00,"1.520,46","1.520,46",0,"1.520,46"
383,56,391,31/12/2015,INSS - INSTITUTO NACIONAL DO SEGURO SOCIAL,29.979.036/0169-00,"1.389,52","1.389,52",0,"1.389,52"
384,56,392,31/12/2015,INSS - INSTITUTO NACIONAL DO SEGURO SOCIAL,29.979.036/0169-00,"1.994,52","1.994,52",0,"1.994,52"

## Tratamento dos DataFrames

In [6]:
# Definindo tipos das colunas antes de ler o dataset
columns_types = {'Empenhado(R$)':float,
                'Liquidado(R$)':float,
                'Pago(R$)':float,
                'Saldo(R$)':float}

In [7]:
'''
Função para tratamento dos valores monetários

'''

def tratar_valores(valor):
    
    '''
        Primeiramente, procura-se a localização do ponto, que separava os milhares, e a vírgula que definia os centavos de reais.
    '''
    posicao_virgula = valor.find(',')
    posicao_ponto = valor.find('.') 
    
    '''
        Após o armazenamento das posições de cada separador, armazenava o valor em uma nova string, sem os pontos e vírgulas, 
        e encontrava a nova posição do separador, agora um ponto.
    '''
    string = ''.join(filter(str.isalnum, valor))
    nova_posicao_ponto = posicao_virgula - (len(valor) - len(string))

    '''
        Por fim, após verificar qual condição a nova string se encaixava, retornava-se a nova string com o devido tratamento.
    '''
    if len(string) == len(valor):
        return valor
    
    elif posicao_ponto != -1:        
        string = string[0:nova_posicao_ponto+1] + '.' + string[nova_posicao_ponto+1:]
        return string
    
    else:
        string = string[0:posicao_virgula] + '.' + string[posicao_virgula:]
        return string

### Tratando dados

In [8]:
df_camara_2015['Empenhado(R$)'] = df_camara_2015['Empenhado(R$)'].apply(tratar_valores)
df_camara_2015['Pago(R$)'] = df_camara_2015['Pago(R$)'].apply(tratar_valores)
df_camara_2015['Liquidado(R$)'] = df_camara_2015['Liquidado(R$)'].apply(tratar_valores)
df_camara_2015['Saldo(R$)'] = df_camara_2015['Saldo(R$)'].apply(tratar_valores)

df_camara_2015

,Despesa,Número,Data,Nome,CPF/CNPJ,Empenhado(R$),Liquidado(R$),Pago(R$),Saldo(R$)
0,8,1,30/01/2015,Câmara Municipal de Cajazeiras,08.841.553/0001-89,188983.14,188983.14,188983.14,0
1,11,2,30/01/2015,CAMARA MUNICIPAL DE CAJAZEIRAS,08.841.553/0001-89,243.5,243.5,243.5,0
2,12,3,30/01/2015,Marcos Helder,646.603.624-34,1500.00,1500.00,1500.00,0
3,13,4,30/01/2015,CAMARA MUNICIPAL DE CAJAZEIRAS,08.841.553/0001-89,6221.00,6221.00,6221.00,0
4,16,5,30/01/2015,Marcos Helder,646.603.624-34,10740.00,10740.00,10740.00,0
...,...,...,...,...,...,...,...,...,...
113,16,114,30/12/2015,Marcos Helder,646.603.624-34,8270.00,8270.00,8270.00,0
114,17,115,30/12/2015,CAMARA MUNICIPAL DE CAJAZEIRAS,08.841.553/0001-89,25151.17,25151.17,25151.17,0
115,22,116,30/12/2015,CAMARA MUNICIPAL DE CAJAZEIRAS,08.841.553/0001-89,47363.26,47363.26,47363.26,0
116,24,117,30/12/2015,CAMARA MUNICIPAL DE CAJAZEIRAS,08.841.553/0001-89,15304.88,15304.88,15304.88,0
117,25,118,30/12/2015,CAMARA MUNICIPAL DE CAJAZEIRAS,08.841.553/0001-89,1654.00,1654.00,1654.00,0

In [9]:
df_instituto_previdencia_2015['Empenhado(R$)'] = df_instituto_previdencia_2015['Empenhado(R$)'].apply(tratar_valores)
df_instituto_previdencia_2015['Pago(R$)'] = df_instituto_previdencia_2015['Pago(R$)'].apply(tratar_valores)
df_instituto_previdencia_2015['Liquidado(R$)'] = df_instituto_previdencia_2015['Liquidado(R$)'].apply(tratar_valores)
df_instituto_previdencia_2015['Saldo(R$)'] = df_instituto_previdencia_2015['Saldo(R$)'].apply(tratar_valores)

df_instituto_previdencia_2015

,Despesa,Número,Data,Nome,CPF/CNPJ,Empenhado(R$),Liquidado(R$),Pago(R$),Saldo(R$)
0,130,1,05/01/2015,CAIXA ECONOMICA FEDERAL,00.360.305/0040-10,427.05,427.05,427.05,0
1,125,2,07/01/2015,MEILSON JOSE OLIVEIRA DA CUNHA,752.938.704-91,600,600,600,0
2,125,3,07/01/2015,WANDERSON BANDEIRA DE SOUZA,022.155.044-55,750,750,750,0
3,125,4,08/01/2015,FRANCISCO GOMES DE ARAUJO,098.419.034-15,500,500,500,0
4,132,5,06/01/2015,REGINALDO SOARES MOREIRA - ME,17.852.505/0001-87,500,500,500,0
...,...,...,...,...,...,...,...,...,...
448,123,455,30/12/2015,INSS,29.979.036/0169-00,330,330,0,330
449,129,456,30/12/2015,JESSICA NASCIMENTO OLIVEIRA,053.612.333-07,1000.00,1000.00,0,1000.00
450,140,457,30/12/2015,SALARIO FAMILIA-PREFEITURA MUNICIPAL,08.923.971/0001-15,4273.10,4273.10,0,4273.10
451,140,458,30/12/2015,MUNICIPIO DE CAJAZEIRAS FUNDO MUNICIPAL DE SAU...,11.902.878/0001-39,2626.74,2626.74,0,2626.74
452,140,459,30/12/2015,FUNDO DE ASSISTENCIA SOCIAL DE CAJAZEIRAS,13.291.727/0001-17,235.8,235.8,0,235.8

In [10]:
df_prefeitura_2015['Empenhado(R$)'] = df_prefeitura_2015['Empenhado(R$)'].apply(tratar_valores)
df_prefeitura_2015['Pago(R$)'] = df_prefeitura_2015['Pago(R$)'].apply(tratar_valores)
df_prefeitura_2015['Liquidado(R$)'] = df_prefeitura_2015['Liquidado(R$)'].apply(tratar_valores)
df_prefeitura_2015['Saldo(R$)'] = df_prefeitura_2015['Saldo(R$)'].apply(tratar_valores)

df_prefeitura_2015

,Despesa,Número,Data,Nome,CPF/CNPJ,Empenhado(R$),Liquidado(R$),Pago(R$),Saldo(R$)
0,958,253,30/01/2015,TELEMAR NORTE LESTE S.A.(OI FIXO),33.000.118/0012-21,89.28,89.28,89.28,0
1,958,254,30/01/2015,TELEMAR NORTE LESTE S.A.(OI FIXO),33.000.118/0012-21,111.53,111.53,111.53,0
2,958,255,30/01/2015,TELEMAR NORTE LESTE S.A.(OI FIXO),33.000.118/0012-21,93.45,93.45,93.45,0
3,958,256,30/01/2015,TELEMAR NORTE LESTE S.A.(OI FIXO),33.000.118/0012-21,89.44,89.44,89.44,0
4,1154,257,30/01/2015,MARIA DAS GRAÇAS LUCENA MESSIAS,40.973.307/0001-93,860.26,860.26,860.26,0
...,...,...,...,...,...,...,...,...,...
8249,585,8084,30/12/2015,FRANCA CAMINHOES LTDA,16.737.978/0001-70,541200.00,0,0,541200.00
8250,602,8248,30/12/2015,Prefeitura Municipal de Cajazeiras,08.923.971/0001-15,12410.38,12410.38,0,12410.38
8251,612,8262,30/12/2015,INSTITUTO BRAS DO MEIO AMBIENTE E DOS REC NAT ...,03.659.166/0007-06,1772.20,1772.20,0,1772.20
8252,612,8290,30/12/2015,C.F.B BARROSO - ME,16.779.292/0001-42,5000.00,5000.00,0,5000.00
8253,607,8344,30/12/2015,FRANCISCO FAGNER SOARES SOUSA AUTOPEÇAS - ME,19.252.387/0001-00,6687.00,0,0,6687.00

In [11]:
df_sctrans_2015['Empenhado(R$)'] = df_sctrans_2015['Empenhado(R$)'].apply(tratar_valores)
df_sctrans_2015['Pago(R$)'] = df_sctrans_2015['Pago(R$)'].apply(tratar_valores)
df_sctrans_2015['Liquidado(R$)'] = df_sctrans_2015['Liquidado(R$)'].apply(tratar_valores)
df_sctrans_2015['Saldo(R$)'] = df_sctrans_2015['Saldo(R$)'].apply(tratar_valores)

df_sctrans_2015

,Despesa,Número,Data,Nome,CPF/CNPJ,Empenhado(R$),Liquidado(R$),Pago(R$),Saldo(R$)
0,63,1,09/01/2015,LEIA COMERCIAL DE LIVROS E MAGAZINE LTDA,11.895.653/0001-00,2216.53,2216.53,2216.53,0
1,67,2,01/01/2015,JOSELITA ALVES DE OLIVEIRA ROLIM,526.405.584-04,450,450,450,0
2,67,3,05/01/2015,LUIZ ANTONIO DE S. LIMA,414.315.704-78,1200.00,1200.00,1200.00,0
3,67,4,06/01/2015,FRANCISCO DAS CHAGAS PEDROSA,874.078.504-10,250,250,250,0
4,67,5,08/01/2015,ANTONIA GONZAGA DE ANDRADE LEITE,437.930.534-15,570,570,570,0
...,...,...,...,...,...,...,...,...,...
380,56,388,31/12/2015,INSS - INSTITUTO NACIONAL DO SEGURO SOCIAL,29.979.036/0169-00,1520.46,1520.46,0,1520.46
381,56,389,31/12/2015,INSS - INSTITUTO NACIONAL DO SEGURO SOCIAL,29.979.036/0169-00,1520.46,1520.46,0,1520.46
382,56,390,31/12/2015,INSS - INSTITUTO NACIONAL DO SEGURO SOCIAL,29.979.036/0169-00,1520.46,1520.46,0,1520.46
383,56,391,31/12/2015,INSS - INSTITUTO NACIONAL DO SEGURO SOCIAL,29.979.036/0169-00,1389.52,1389.52,0,1389.52
384,56,392,31/12/2015,INSS - INSTITUTO NACIONAL DO SEGURO SOCIAL,29.979.036/0169-00,1994.52,1994.52,0,1994.52

## Salvando dados tratados

In [12]:
df_instituto_previdencia_2015.to_csv('03_dados_tratados/dados_instituto_previdencia_2015_tratados.csv', index=False, sep=';')
df_prefeitura_2015.to_csv('03_dados_tratados/dados_prefeitura_2015_tratados.csv', index=False, sep=';')
df_sctrans_2015.to_csv('03_dados_tratados/dados_sctrans_2015_tratados.csv', index=False, sep=';')
df_camara_2015.to_csv('03_dados_tratados/dados_camara_2015_tratados.csv', index=False, sep=';')

## Analisando dados contidos nos dataframes

In [13]:
df_prefeitura_2015['Tipo'] = 1
df_instituto_previdencia_2015['Tipo'] = 2
df_sctrans_2015['Tipo'] = 3
df_camara_2015['Tipo'] = 4

In [14]:
df_dados_acumulados_2015 = pd.merge(df_prefeitura_2015, df_instituto_previdencia_2015, how='outer')
df_dados_acumulados_2015 = pd.merge(df_dados_acumulados_2015, df_sctrans_2015, how='outer')
df_dados_acumulados_2015 = pd.merge(df_dados_acumulados_2015, df_camara_2015, how='outer')
df_dados_acumulados_2015

,Despesa,Número,Data,Nome,CPF/CNPJ,Empenhado(R$),Liquidado(R$),Pago(R$),Saldo(R$),Tipo
0,958,253,30/01/2015,TELEMAR NORTE LESTE S.A.(OI FIXO),33.000.118/0012-21,89.28,89.28,89.28,0,1
1,958,254,30/01/2015,TELEMAR NORTE LESTE S.A.(OI FIXO),33.000.118/0012-21,111.53,111.53,111.53,0,1
2,958,255,30/01/2015,TELEMAR NORTE LESTE S.A.(OI FIXO),33.000.118/0012-21,93.45,93.45,93.45,0,1
3,958,256,30/01/2015,TELEMAR NORTE LESTE S.A.(OI FIXO),33.000.118/0012-21,89.44,89.44,89.44,0,1
4,1154,257,30/01/2015,MARIA DAS GRAÇAS LUCENA MESSIAS,40.973.307/0001-93,860.26,860.26,860.26,0,1
...,...,...,...,...,...,...,...,...,...,...
9205,16,114,30/12/2015,Marcos Helder,646.603.624-34,8270.00,8270.00,8270.00,0,4
9206,17,115,30/12/2015,CAMARA MUNICIPAL DE CAJAZEIRAS,08.841.553/0001-89,25151.17,25151.17,25151.17,0,4
9207,22,116,30/12/2015,CAMARA MUNICIPAL DE CAJAZEIRAS,08.841.553/0001-89,47363.26,47363.26,47363.26,0,4
9208,24,117,30/12/2015,CAMARA MUNICIPAL DE CAJAZEIRAS,08.841.553/0001-89,15304.88,15304.88,15304.88,0,4
9209,25,118,30/12/2015,CAMARA MUNICIPAL DE CAJAZEIRAS,08.841.553/0001-89,1654.00,1654.00,1654.00,0,4

In [15]:
df_dados_acumulados_2015.drop('Despesa',axis=1, inplace=True)
df_dados_acumulados_2015

,Número,Data,Nome,CPF/CNPJ,Empenhado(R$),Liquidado(R$),Pago(R$),Saldo(R$),Tipo
0,253,30/01/2015,TELEMAR NORTE LESTE S.A.(OI FIXO),33.000.118/0012-21,89.28,89.28,89.28,0,1
1,254,30/01/2015,TELEMAR NORTE LESTE S.A.(OI FIXO),33.000.118/0012-21,111.53,111.53,111.53,0,1
2,255,30/01/2015,TELEMAR NORTE LESTE S.A.(OI FIXO),33.000.118/0012-21,93.45,93.45,93.45,0,1
3,256,30/01/2015,TELEMAR NORTE LESTE S.A.(OI FIXO),33.000.118/0012-21,89.44,89.44,89.44,0,1
4,257,30/01/2015,MARIA DAS GRAÇAS LUCENA MESSIAS,40.973.307/0001-93,860.26,860.26,860.26,0,1
...,...,...,...,...,...,...,...,...,...
9205,114,30/12/2015,Marcos Helder,646.603.624-34,8270.00,8270.00,8270.00,0,4
9206,115,30/12/2015,CAMARA MUNICIPAL DE CAJAZEIRAS,08.841.553/0001-89,25151.17,25151.17,25151.17,0,4
9207,116,30/12/2015,CAMARA MUNICIPAL DE CAJAZEIRAS,08.841.553/0001-89,47363.26,47363.26,47363.26,0,4
9208,117,30/12/2015,CAMARA MUNICIPAL DE CAJAZEIRAS,08.841.553/0001-89,15304.88,15304.88,15304.88,0,4
9209,118,30/12/2015,CAMARA MUNICIPAL DE CAJAZEIRAS,08.841.553/0001-89,1654.00,1654.00,1654.00,0,4

In [16]:
df_dados_acumulados_2015.to_csv('04_analise_tratamento_carga/dados_acumulados_2015.csv', index=False, sep=';')

In [17]:
df_dados_acumulados_2015.dtypes

Número            int64
Data             object
Nome             object
CPF/CNPJ         object
Empenhado(R$)    object
Liquidado(R$)    object
Pago(R$)         object
Saldo(R$)        object
Tipo              int64
dtype: object

In [18]:
df_dados_acumulados_2015['Saldo(R$)'] = df_dados_acumulados_2015['Saldo(R$)'].astype('float64')

In [19]:
df_dados_acumulados_2015.loc[df_dados_acumulados_2015['Saldo(R$)'] == '6.930,40']

Empty DataFrame
Columns: [Número, Data, Nome, CPF/CNPJ, Empenhado(R$), Liquidado(R$), Pago(R$), Saldo(R$), Tipo]
Index: []