# Imports necessários

In [80]:
import string
import pandas as pd
from unidecode import unidecode
import re
from random import randint
import requests
import numpy as np
import os
import csv
import uuid

## Caminho dos arquivos contidos na variável de ambiente

In [81]:
# Definir uma variável global para armazenar as informações lidas do arquivo
linhas = []

# Definir uma variável de ambiente para armazenar a localização do arquivo
os.environ['PATHS'] = '.env'

# Função para ler as informações do arquivo e adicioná-las à variável global
def ler_arquivo():
    global linhas
    with open(os.environ.get('PATHS'), 'r') as f:
        linhas = [linha.strip().split(',') for linha in f.readlines()]

# Chamar a função para ler o arquivo e atualizar a variável global
ler_arquivo()

# Imprimir a variável global
print(linhas)

[['C:/Repos/estudos/TCC2/dados/01_receitas/2013/04_analise_tratamento_carga/dados_acumulados_2013.csv'], ['C:/Repos/estudos/TCC2/dados/01_receitas/2014/04_analise_tratamento_carga/dados_acumulados_2014.csv'], ['C:/Repos/estudos/TCC2/dados/01_receitas/2015/04_analise_tratamento_carga/dados_acumulados_2015.csv'], ['C:/Repos/estudos/TCC2/dados/01_receitas/2016/04_analise_tratamento_carga/dados_acumulados_2016.csv'], ['C:/Repos/estudos/TCC2/dados/01_receitas/2017/04_analise_tratamento_carga/dados_acumulados_2017.csv'], ['C:/Repos/estudos/TCC2/dados/01_receitas/2018/04_analise_tratamento_carga/dados_acumulados_2018.csv'], ['C:/Repos/estudos/TCC2/dados/01_receitas/2019/04_analise_tratamento_carga/dados_acumulados_2019.csv'], ['C:/Repos/estudos/TCC2/dados/01_receitas/2020/04_analise_tratamento_carga/dados_acumulados_2020.csv'], ['C:/Repos/estudos/TCC2/dados/01_receitas/2021/04_analise_tratamento_carga/dados_acumulados_2021.csv'], ['C:/Repos/estudos/TCC2/dados/01_receitas/2022/04_analise_tratamento_carga/dados_acumulados_2022.csv']]

In [82]:
# definir parâmetros do arquivo CSV
csv_kwargs = {'index': False,
              'sep': ';',
              'quoting': csv.QUOTE_NONE,
              'quotechar': '"'}

# Lista com os DF

In [83]:
list_data_frames = []

def inserir_df(df):
    list_data_frames.append(df)

In [84]:
df_receitas_2013 = pd.read_csv(linhas[0][0], sep=';')
inserir_df(df_receitas_2013)

df_receitas_2014 = pd.read_csv(linhas[1][0], sep=';')
inserir_df(df_receitas_2014)

df_receitas_2015 = pd.read_csv(linhas[2][0], sep=';')
inserir_df(df_receitas_2015)

df_receitas_2016 = pd.read_csv(linhas[3][0], sep=';')
inserir_df(df_receitas_2016)

df_receitas_2017 = pd.read_csv(linhas[4][0], sep=';')
inserir_df(df_receitas_2017)

df_receitas_2018 = pd.read_csv(linhas[5][0], sep=';')
inserir_df(df_receitas_2018)

df_receitas_2019 = pd.read_csv(linhas[6][0], sep=';')
inserir_df(df_receitas_2019)

df_receitas_2020 = pd.read_csv(linhas[7][0], sep=';')
inserir_df(df_receitas_2020)

df_receitas_2021 = pd.read_csv(linhas[8][0], sep=';')
inserir_df(df_receitas_2021)

df_receitas_2022 = pd.read_csv(linhas[9][0], sep=';')
inserir_df(df_receitas_2022)

In [85]:
df_receitas_2013.head()

,Código,Receita,Data,Nome,CPF/CNPJ,Valor Previsto,Valor Arrecadado,Tipo
0,1722010101,COTA-PARTE DO ICMS,03/01/2013,PREF MUNICIPAL DE CAJAZEIRAS,08.923.971/0001-15,8362000.0,185560.68,1
1,1722010101,COTA-PARTE DO ICMS,04/01/2013,PREF MUNICIPAL DE CAJAZEIRAS,08.923.971/0001-15,8362000.0,8081.80,1
2,1722010101,COTA-PARTE DO ICMS,07/01/2013,PREF MUNICIPAL DE CAJAZEIRAS,08.923.971/0001-15,8362000.0,4231.39,1
3,1722010101,COTA-PARTE DO ICMS,08/01/2013,PREF MUNICIPAL DE CAJAZEIRAS,08.923.971/0001-15,8362000.0,10536.53,1
4,1722010101,COTA-PARTE DO ICMS,15/01/2013,PREF MUNICIPAL DE CAJAZEIRAS,08.923.971/0001-15,8362000.0,103118.27,1

In [86]:
df_receitas_2021.head()

,CODIGO,RECEITA,DATA,FORNECEDOR,VALOR,TIPO
0,175801111,Transferências de Recursos do Fundo de Manute...,01/12/2021,BANCO DO BRASIL S.A,6224.78,1
1,132100111,Remuneração de Depósitos Bancários - Principal,01/12/2021,BANCO DO BRASIL SA,-6224.78,1
2,175801111,Transferências de Recursos do Fundo de Manute...,01/12/2021,BANCO DO BRASIL S.A,722577.64,1
3,171809111,Transferências de Recursos da Complementação ...,01/12/2021,BANCO DO BRASIL SA,-722577.64,1
4,175801111,Transferências de Recursos do Fundo de Manute...,01/12/2021,BANCO DO BRASIL S.A,1166975.68,1

# Padronizando os dataframes para junção

### Padronizando colunas

In [87]:
dic_renomear_colunas = {'Código':'CODIGO',
                        'Receita':'RECEITA',
                        'Data':'DATA',
                        'Nome':'CONTRIBUINTE',
                        'FORNECEDOR':'CONTRIBUINTE',
                        'Valor Previsto':'VALOR PREVISTO',
                        'Valor Arrecadado': 'VALOR ARRECADADO',
                        'VALOR': 'VALOR ARRECADADO',
                        'Tipo':'TIPO'}

def renomear_colunas(df):
    df.rename(columns=dic_renomear_colunas, inplace=True)
    
for df in list_data_frames:
    renomear_colunas(df)

In [88]:
'''Lembrar que as dados completos, de 2013 a 2020, vão até a posição 7 da lista'''
list_data_frames[7]

,CODIGO,RECEITA,DATA,CONTRIBUINTE,CPF/CNPJ,VALOR PREVISTO,VALOR ARRECADADO,TIPO
0,1718031103,Saúde Bucal - SB,02/01/2020,CAIXA ECONOMICA FEDERAL,00.360.305/0040-10,770220.0,13200.00,1
1,1718031101,Agentes Comunitários de Saúde-ACS,02/01/2020,CAIXA ECONOMICA FEDERAL,00.360.305/0040-10,1935000.0,165000.00,1
2,1718039100,Outros Programas do SUS Financ. por Transf. Fu...,02/01/2020,CAIXA ECONOMICA FEDERAL,00.360.305/0040-10,1920000.0,124595.93,1
3,1718031102,Saúde da Família - SF,02/01/2020,CAIXA ECONOMICA FEDERAL,00.360.305/0040-10,1747740.0,152775.00,1
4,1718031103,Saúde Bucal - SB,02/01/2020,CAIXA ECONOMICA FEDERAL,00.360.305/0040-10,770220.0,45715.00,1
...,...,...,...,...,...,...,...,...
9846,1910011100,Multas Previstas em Legislação de Trânsito,29/12/2020,BANCO DO BRASIL S/A,00.000.000/0099-03,610000.0,482.76,3
9847,1990991100,Outras Receitas - Zona Azul,30/12/2020,BANCO DO BRASIL S/A,00.000.000/0099-03,70000.0,2189.44,3
9848,1910011100,Multas Previstas em Legislação de Trânsito,30/12/2020,BANCO DO BRASIL S/A,00.000.000/0099-03,610000.0,274.35,3
9849,1321001103,Remuneração de Outros Depósitos de Recursos nã...,31/12/2020,BANCO DO BRASIL S/A,00.000.000/0099-03,1000.0,1.54,3
9850,1121011102,Taxa de Autorização de Funcionamento de Transp...,31/12/2020,BANCO DO BRASIL S/A,00.000.000/0099-03,167000.0,1409.60,3

In [89]:
'''Lembrar que as dados completos, de 2021 a 2022, iniciam na posição 8 da lista'''
list_data_frames[8]

,CODIGO,RECEITA,DATA,CONTRIBUINTE,VALOR ARRECADADO,TIPO
0,175801111,Transferências de Recursos do Fundo de Manute...,01/12/2021,BANCO DO BRASIL S.A,6224.78,1
1,132100111,Remuneração de Depósitos Bancários - Principal,01/12/2021,BANCO DO BRASIL SA,-6224.78,1
2,175801111,Transferências de Recursos do Fundo de Manute...,01/12/2021,BANCO DO BRASIL S.A,722577.64,1
3,171809111,Transferências de Recursos da Complementação ...,01/12/2021,BANCO DO BRASIL SA,-722577.64,1
4,175801111,Transferências de Recursos do Fundo de Manute...,01/12/2021,BANCO DO BRASIL S.A,1166975.68,1
...,...,...,...,...,...,...
9300,132100111,Remuneração de Depósitos Bancários - Principal,29/01/2021,BANCO DO BRASIL S/A,2.58,3
9301,112101111,"Taxas de Inspeção, Controle e Fiscalização - ...",29/01/2021,BANCO DO BRASIL S/A,7915.78,3
9302,191001111,Multas Previstas em Legislação Específica - P...,29/01/2021,BANCO DO BRASIL S/A,4640.81,3
9303,112101111,"Taxas de Inspeção, Controle e Fiscalização - ...",20/01/2021,BANCO DO BRASIL S/A,21085.76,3
9304,191001111,Multas Previstas em Legislação Específica - P...,20/01/2021,BANCO DO BRASIL S/A,11073.77,3

### Merge dos DF

In [90]:
dados_2020 = ['CODIGO','RECEITA','DATA','CONTRIBUINTE','CPF/CNPJ','VALOR PREVISTO','VALOR ARRECADADO','TIPO']
dados_2022 = ['CODIGO','RECEITA','DATA','CONTRIBUINTE','VALOR ARRECADADO','TIPO']

df_dados_completos_2020 = pd.DataFrame(columns=dados_2020)
df_dados_completos_2022 = pd.DataFrame(columns=dados_2022)

In [91]:
def merge_dataframes(lista_dataframes, colunas_sem_valores):
    
    df_final = colunas_sem_valores.copy() # cria uma cópia do DataFrame das colunas sem valores
    
    for df in lista_dataframes:
        df_final = pd.merge(df_final, df, on=list(df_final.columns), how='outer') # mescla o DataFrame atual com o DataFrame das colunas
        
    return df_final

In [92]:
def remove_espacos_duplos(df):
    # copia o DataFrame original
    df_copy = df.copy()
    # itera sobre as colunas do DataFrame
    for col in df_copy.columns:
        # verifica se a coluna é do tipo 'object' (string)
        if df_copy[col].dtype == 'O':
            # remove espaços duplicados da coluna
            df_copy[col] = df_copy[col].str.replace('\s+', ' ')
    return df_copy

In [93]:
df_dados_completos_2020 = merge_dataframes(list_data_frames[:8],df_dados_completos_2020)
df_dados_completos_2020

,CODIGO,RECEITA,DATA,CONTRIBUINTE,CPF/CNPJ,VALOR PREVISTO,VALOR ARRECADADO,TIPO
0,1722010101,COTA-PARTE DO ICMS,03/01/2013,PREF MUNICIPAL DE CAJAZEIRAS,08.923.971/0001-15,8362000.0,185560.68,1
1,1722010101,COTA-PARTE DO ICMS,04/01/2013,PREF MUNICIPAL DE CAJAZEIRAS,08.923.971/0001-15,8362000.0,8081.80,1
2,1722010101,COTA-PARTE DO ICMS,07/01/2013,PREF MUNICIPAL DE CAJAZEIRAS,08.923.971/0001-15,8362000.0,4231.39,1
3,1722010101,COTA-PARTE DO ICMS,08/01/2013,PREF MUNICIPAL DE CAJAZEIRAS,08.923.971/0001-15,8362000.0,10536.53,1
4,1722010101,COTA-PARTE DO ICMS,15/01/2013,PREF MUNICIPAL DE CAJAZEIRAS,08.923.971/0001-15,8362000.0,103118.27,1
...,...,...,...,...,...,...,...,...
85559,1910011100,Multas Previstas em Legislação de Trânsito,29/12/2020,BANCO DO BRASIL S/A,00.000.000/0099-03,610000.0,482.76,3
85560,1990991100,Outras Receitas - Zona Azul,30/12/2020,BANCO DO BRASIL S/A,00.000.000/0099-03,70000.0,2189.44,3
85561,1910011100,Multas Previstas em Legislação de Trânsito,30/12/2020,BANCO DO BRASIL S/A,00.000.000/0099-03,610000.0,274.35,3
85562,1321001103,Remuneração de Outros Depósitos de Recursos nã...,31/12/2020,BANCO DO BRASIL S/A,00.000.000/0099-03,1000.0,1.54,3
85563,1121011102,Taxa de Autorização de Funcionamento de Transp...,31/12/2020,BANCO DO BRASIL S/A,00.000.000/0099-03,167000.0,1409.60,3

In [94]:
df_dados_completos_2022

Empty DataFrame
Columns: [CODIGO, RECEITA, DATA, CONTRIBUINTE, VALOR ARRECADADO, TIPO]
Index: []

### Tratamento coluna contribuintes

#### Primeira visualização dos dados

In [95]:
def tratar_coluna(df, coluna):
    
    # remove sinais de pontuação e símbolos
    table = str.maketrans('', '', string.punctuation)
    df[coluna] = df[coluna].apply(lambda x: str(x).translate(table))
    
    # remove acentuação gráfica
    df[coluna] = df[coluna].apply(lambda x: unidecode(x))
    
    # converte todos os caracteres para minúsculas
    df[coluna] = df[coluna].str.lower()
    
    return df

In [96]:
df_dados_completos_tratados_2020 = tratar_coluna(df_dados_completos_2020, 'RECEITA')
df_dados_completos_tratados_2020 = tratar_coluna(df_dados_completos_2020, 'CONTRIBUINTE')
df_dados_completos_tratados_2020

,CODIGO,RECEITA,DATA,CONTRIBUINTE,CPF/CNPJ,VALOR PREVISTO,VALOR ARRECADADO,TIPO
0,1722010101,cotaparte do icms,03/01/2013,pref municipal de cajazeiras,08.923.971/0001-15,8362000.0,185560.68,1
1,1722010101,cotaparte do icms,04/01/2013,pref municipal de cajazeiras,08.923.971/0001-15,8362000.0,8081.80,1
2,1722010101,cotaparte do icms,07/01/2013,pref municipal de cajazeiras,08.923.971/0001-15,8362000.0,4231.39,1
3,1722010101,cotaparte do icms,08/01/2013,pref municipal de cajazeiras,08.923.971/0001-15,8362000.0,10536.53,1
4,1722010101,cotaparte do icms,15/01/2013,pref municipal de cajazeiras,08.923.971/0001-15,8362000.0,103118.27,1
...,...,...,...,...,...,...,...,...
85559,1910011100,multas previstas em legislacao de transito,29/12/2020,banco do brasil sa,00.000.000/0099-03,610000.0,482.76,3
85560,1990991100,outras receitas zona azul,30/12/2020,banco do brasil sa,00.000.000/0099-03,70000.0,2189.44,3
85561,1910011100,multas previstas em legislacao de transito,30/12/2020,banco do brasil sa,00.000.000/0099-03,610000.0,274.35,3
85562,1321001103,remuneracao de outros depositos de recursos na...,31/12/2020,banco do brasil sa,00.000.000/0099-03,1000.0,1.54,3
85563,1121011102,taxa de autorizacao de funcionamento de transp...,31/12/2020,banco do brasil sa,00.000.000/0099-03,167000.0,1409.60,3

In [97]:
df_dados_completos_2022 = merge_dataframes(list_data_frames[8:],df_dados_completos_2022)

df_dados_completos_2022

,CODIGO,RECEITA,DATA,CONTRIBUINTE,VALOR ARRECADADO,TIPO
0,175801111,Transferências de Recursos do Fundo de Manute...,01/12/2021,BANCO DO BRASIL S.A,6224.78,1
1,132100111,Remuneração de Depósitos Bancários - Principal,01/12/2021,BANCO DO BRASIL SA,-6224.78,1
2,175801111,Transferências de Recursos do Fundo de Manute...,01/12/2021,BANCO DO BRASIL S.A,722577.64,1
3,171809111,Transferências de Recursos da Complementação ...,01/12/2021,BANCO DO BRASIL SA,-722577.64,1
4,175801111,Transferências de Recursos do Fundo de Manute...,01/12/2021,BANCO DO BRASIL S.A,1166975.68,1
...,...,...,...,...,...,...
16724,191101011,Multas Previstas em Legislação Específica - P...,19/01/2022,BANCO DO BRASIL S/A,4374.24,3
16725,112101011,"Taxas de Inspeção, Controle e Fiscalização - ...",18/01/2022,BANCO DO BRASIL S/A,228.00,3
16726,191101011,Multas Previstas em Legislação Específica - P...,18/01/2022,BANCO DO BRASIL S/A,3758.69,3
16727,112101011,"Taxas de Inspeção, Controle e Fiscalização - ...",17/01/2022,BANCO DO BRASIL S/A,4297.00,3
16728,191101011,Multas Previstas em Legislação Específica - P...,17/01/2022,BANCO DO BRASIL S/A,78032.06,3

In [98]:
df_dados_completos_tratados_2022 = tratar_coluna(df_dados_completos_2022, 'RECEITA')
df_dados_completos_tratados_2022 = tratar_coluna(df_dados_completos_2022, 'CONTRIBUINTE')
df_dados_completos_tratados_2022

,CODIGO,RECEITA,DATA,CONTRIBUINTE,VALOR ARRECADADO,TIPO
0,175801111,transferencias de recursos do fundo de manute...,01/12/2021,banco do brasil sa,6224.78,1
1,132100111,remuneracao de depositos bancarios principal,01/12/2021,banco do brasil sa,-6224.78,1
2,175801111,transferencias de recursos do fundo de manute...,01/12/2021,banco do brasil sa,722577.64,1
3,171809111,transferencias de recursos da complementacao ...,01/12/2021,banco do brasil sa,-722577.64,1
4,175801111,transferencias de recursos do fundo de manute...,01/12/2021,banco do brasil sa,1166975.68,1
...,...,...,...,...,...,...
16724,191101011,multas previstas em legislacao especifica pr...,19/01/2022,banco do brasil sa,4374.24,3
16725,112101011,taxas de inspecao controle e fiscalizacao pr...,18/01/2022,banco do brasil sa,228.00,3
16726,191101011,multas previstas em legislacao especifica pr...,18/01/2022,banco do brasil sa,3758.69,3
16727,112101011,taxas de inspecao controle e fiscalizacao pr...,17/01/2022,banco do brasil sa,4297.00,3
16728,191101011,multas previstas em legislacao especifica pr...,17/01/2022,banco do brasil sa,78032.06,3

In [99]:
df_contribuintes_receitas_2020 = pd.DataFrame(df_dados_completos_tratados_2020[['CPF/CNPJ','CONTRIBUINTE','TIPO']])
df_contribuintes_receitas_2020

                 CPF/CNPJ                  CONTRIBUINTE  TIPO
0      08.923.971/0001-15  pref municipal de cajazeiras     1
1      08.923.971/0001-15  pref municipal de cajazeiras     1
2      08.923.971/0001-15  pref municipal de cajazeiras     1
3      08.923.971/0001-15  pref municipal de cajazeiras     1
4      08.923.971/0001-15  pref municipal de cajazeiras     1
...                   ...                           ...   ...
85559  00.000.000/0099-03            banco do brasil sa     3
85560  00.000.000/0099-03            banco do brasil sa     3
85561  00.000.000/0099-03            banco do brasil sa     3
85562  00.000.000/0099-03            banco do brasil sa     3
85563  00.000.000/0099-03            banco do brasil sa     3

[85564 rows x 3 columns]

In [100]:
def filter_dataframe(df: pd.DataFrame, group_col: str, filter_crit: str) -> pd.DataFrame:
    """
    Filtra um DataFrame do Pandas de acordo com um critério definido em uma coluna específica e retorna um novo DataFrame
    sem perda de dados.

    Args:
        df (pd.DataFrame): DataFrame a ser filtrado.
        group_col (str): Nome da coluna do DataFrame que será utilizada para agrupamento.
        filter_crit (str): Critério utilizado para filtro dos dados.

    Returns:
        pd.DataFrame: DataFrame filtrado sem perda de dados.
    """
    # Cria um objeto com os grupos baseados na coluna 'group_col'
    groups = df.groupby(group_col)

    # Cria uma lista vazia para armazenar os DataFrames filtrados
    filtered_dfs = []

    # Loop que percorre cada grupo do objeto 'groups'
    for group_name, group_df in groups:
        # Filtra o DataFrame para manter apenas a primeira ocorrência de cada valor único na coluna parâmetro
        filtered_df = group_df.drop_duplicates(subset=[filter_crit], keep='first')
        # Adiciona o DataFrame filtrado à lista de DataFrames filtrados
        filtered_dfs.append(filtered_df)

    # Concatena os DataFrames filtrados em um novo DataFrame
    filtered_df = pd.concat(filtered_dfs)

    # Retorna o novo DataFrame sem perda de dados
    return filtered_df

In [101]:
df_contribuintes_receitas_2020 = filter_dataframe(df_contribuintes_receitas_2020,'TIPO','CPF/CNPJ')
df_contribuintes_receitas_2020

                 CPF/CNPJ                               CONTRIBUINTE  TIPO
0      08.923.971/0001-15               pref municipal de cajazeiras     1
225    00.360.305/0040-10                    caixa economica federal     1
3315                  NaN                                      fopag     1
3327       603.496.544-68                  juramir oliveira de sousa     1
3344       064.659.174-67             paula lais de oliveira santana     1
...                   ...                                        ...   ...
75150      067.490.688-80                 maria eulalia da conceicao     2
7056   04.342.393/0001-72  superintendencia cajazeirense de transito     3
7495   00.360.305/0040-10                    caixa economica federal     3
7508   00.000.000/0099-03                         banco do brasil sa     3
30780                 NaN               folha de pagamento  efetivos     3

[1205 rows x 3 columns]

In [102]:
df_contribuintes_receitas_2022 = pd.DataFrame(df_dados_completos_tratados_2022[['CONTRIBUINTE', 'TIPO']])
df_contribuintes_receitas_2022 = filter_dataframe(df_contribuintes_receitas_2022, 'TIPO', 'CONTRIBUINTE')
df_contribuintes_receitas_2022

                                       CONTRIBUINTE  TIPO
0                                banco do brasil sa     1
13        sec educeducinfantil ii  fundeb  efetivos     1
15        sec educeduc infantil i  fundeb  efetivos     1
16                   camara municipal de cajazeiras     1
18               prefeitura municipal de cajazeiras     1
...                                             ...   ...
8719              maria aparecida pereira rodrigues     2
16077                                          inss     2
16081                               29 pensionistas     2
8904                             banco do brasil sa     3
8933   r2 mobbi sistemas e mobilidade urbana eireli     3

[361 rows x 2 columns]

#### Extraindo e enxugando as colunas contribuintes presentes nos dados das receitas dos DF de até 2020

In [103]:
def busca_df(df, coluna, busca):
    # Cria uma lista vazia para armazenar os valores correspondentes
    valores_correspondentes = []
    
    # Para cada valor na coluna especificada, verifica se a busca está presente no valor
    for valor in df[coluna]:
        if busca in str(valor):
            valores_correspondentes.append(valor)
    
    return valores_correspondentes

lista_string_municipal_2020 = busca_df(df_contribuintes_receitas_2020, 'CONTRIBUINTE', 'municipal')
lista_string_secretaria_2020 = busca_df(df_contribuintes_receitas_2020, 'CONTRIBUINTE', 'secretaria')
lista_string_sctrans_2020 = busca_df(df_contribuintes_receitas_2020, 'CONTRIBUINTE', 'sctrans')


lista_string_municipal_2022 = busca_df(df_contribuintes_receitas_2022, 'CONTRIBUINTE', 'municipal')
lista_string_secretaria_2022 = busca_df(df_contribuintes_receitas_2022, 'CONTRIBUINTE', 'secretaria')
lista_string_sctrans_2022 = busca_df(df_contribuintes_receitas_2022, 'CONTRIBUINTE', 'sctrans')



print(f'2020 - String municipal: {lista_string_municipal_2020}')
print(f'2020 - String secretaria: {lista_string_secretaria_2020}')
print(f'2020 - String SCTRANS: : {lista_string_sctrans_2020}')

print(f'2022 - String municipal: {lista_string_municipal_2022}')
print(f'2022 - String secretaria: {lista_string_secretaria_2022}')
print(f'2022 - String SCTRANS: {lista_string_sctrans_2022}')

2020 - String municipal: ['pref municipal de cajazeiras', 'fundo municipal de assistencia social de cajazeiras', 'municipio de cajazeiras fundo municipal de saude  fms', 'camara municipal de cajazeiras', 'cf consultoria tributaria municipal eireli', 'fundo municipal de assistencia social', 'instituto de previdencia e assistencia municipal de cajazeiras', 'prefeitura municipal de cajazeiras', 'camara municipal de cajazeiras', 'municipio de cajazeiras fundo municipal de saude  fms']
2020 - String secretaria: ['secretaria da receita federal do brasil', 'secretaria de estado da saude', 'secretaria de estado de fazenda do distrito federal', 'secretaria de estado do desenvolvimento humano']
2020 - String SCTRANS: : ['superintendencia cajazeirense de transitosctrans', 'sctrans']
2022 - String municipal: ['camara municipal de cajazeiras', 'prefeitura municipal de cajazeiras', 'sec municipal do controle social  comissionados', 'sec municipal do controle social  efetivos', 'instituto de previdencia e assistencia municipal', 'fundo municipal de saude de cajazeiras', 'fundo municipal de saude de cajazeirinhas', '353sec municipal do controle social  comissionados', '26sec municipal do controle social  efetivos', 'prefeitura municipal de cajazeiras', 'fundo municipal de saude de cajazeiras', 'camara municipal de cajazeiras']
2022 - String secretaria: []
2022 - String SCTRANS: []

In [104]:
df_contribuintes_receitas_2020.loc[df_contribuintes_receitas_2020['CONTRIBUINTE'].isin(lista_string_municipal_2020)]

,CPF/CNPJ,CONTRIBUINTE,TIPO
0,08.923.971/0001-15,pref municipal de cajazeiras,1
4412,13.291.727/0001-17,fundo municipal de assistencia social de cajaz...,1
4657,11.902.878/0001-39,municipio de cajazeiras fundo municipal de sau...,1
44455,08.841.553/0001-89,camara municipal de cajazeiras,1
59272,27.172.319/0001-50,cf consultoria tributaria municipal eireli,1
6412,13.291.727/0001-17,fundo municipal de assistencia social,2
6724,08.924.581/0001-60,instituto de previdencia e assistencia municip...,2
18506,08.923.971/0001-15,prefeitura municipal de cajazeiras,2
53061,08.841.553/0001-89,camara municipal de cajazeiras,2
64005,11.902.878/0001-39,municipio de cajazeiras fundo municipal de sau...,2

In [105]:
df_contribuintes_receitas_2022.loc[df_contribuintes_receitas_2022['CONTRIBUINTE'].isin(lista_string_municipal_2022)]

                                           CONTRIBUINTE  TIPO
16                       camara municipal de cajazeiras     1
18                   prefeitura municipal de cajazeiras     1
700     sec municipal do controle social  comissionados     1
901          sec municipal do controle social  efetivos     1
1049   instituto de previdencia e assistencia municipal     1
9382             fundo municipal de saude de cajazeiras     1
9390          fundo municipal de saude de cajazeirinhas     1
9629  353sec municipal do controle social  comission...     1
9828       26sec municipal do controle social  efetivos     1
8529                 prefeitura municipal de cajazeiras     2
8534             fundo municipal de saude de cajazeiras     2
8558                     camara municipal de cajazeiras     2

In [106]:
dic_padronizar_valores = {'pref municipal de cajazeiras':'prefeitura municipal de cajazeiras',
                          'camara municipal de cajazeiras':'camara municipal de cajazeiras',
                          'municipio de cajazeiras fundo municipal de saude  fms':'fundo municipal de saude de cajazeiras',
                          'instituto de previdencia e assistencia municipal de cajazeiras':'instituto de previdencia e assistencia municipal'}

In [107]:
def padroniza_contribuintes(df, dicionario, coluna):
    # Cria um novo DataFrame para evitar perda de dados do antigo
    novo_df = df.copy()
    
    # Para cada chave no dicionário, encontra as linhas do DataFrame em que o valor na coluna especificada corresponde à chave
    for chave in dicionario:
        novo_df.loc[novo_df[coluna] == chave, coluna] = dicionario[chave]
        
    return novo_df

df_contribuintes_receitas_2020 = padroniza_contribuintes(df_contribuintes_receitas_2020, dic_padronizar_valores, 'CONTRIBUINTE')
df_contribuintes_receitas_2020

                 CPF/CNPJ                               CONTRIBUINTE  TIPO
0      08.923.971/0001-15         prefeitura municipal de cajazeiras     1
225    00.360.305/0040-10                    caixa economica federal     1
3315                  NaN                                      fopag     1
3327       603.496.544-68                  juramir oliveira de sousa     1
3344       064.659.174-67             paula lais de oliveira santana     1
...                   ...                                        ...   ...
75150      067.490.688-80                 maria eulalia da conceicao     2
7056   04.342.393/0001-72  superintendencia cajazeirense de transito     3
7495   00.360.305/0040-10                    caixa economica federal     3
7508   00.000.000/0099-03                         banco do brasil sa     3
30780                 NaN               folha de pagamento  efetivos     3

[1205 rows x 3 columns]

#### Extraindo e enxugando as colunas contribuintes presentes nos dados das receitas dos DF de 2021 em diante

In [108]:
def extrair_cpf_cnpj(df):
    # Expressão regular para identificar sequências de números com mais de 5 dígitos
    regex = r'\d{6,}'
    
    # Criando um novo dataframe para evitar perdas no original
    new_df = df.copy()
    
    # Verifica se a coluna 'CPF/CNPJ' já existe, caso contrário, cria a coluna
    if 'CPF/CNPJ' not in new_df.columns:
        new_df['CPF/CNPJ'] = ''
    
    # Iteração sobre cada linha do novo dataframe
    for i, row in new_df.iterrows():
        # Busca por padrões numéricos na coluna 'CONTRIBUINTE' usando regex
        matches = re.findall(regex, row['CONTRIBUINTE'])
        
        # Se encontrou algum padrão, assume que é um CPF/CNPJ e extrai a primeira ocorrência
        if matches:
            cpf_cnpj = matches[0]
            
            # Remove a sequência de CPF/CNPJ da coluna 'CONTRIBUINTE'
            contribuintes = row['CONTRIBUINTE'].replace(cpf_cnpj, '')
            new_df.at[i, 'CONTRIBUINTE'] = contribuintes
            
            # Armazena o CPF/CNPJ na coluna 'CPF/CNPJ'
            new_df.at[i, 'CPF/CNPJ'] = formatar_cpf_cnpj(cpf_cnpj)

    new_df = new_df.reindex(columns=['CPF/CNPJ','CONTRIBUINTE','TIPO'])
    
    return new_df

def formatar_cpf_cnpj(cpf_cnpj):
    # Verifica o tamanho da string e formata para o tipo correspondente
    if len(cpf_cnpj) == 11:
        cpf_cnpj_formatado = f'{cpf_cnpj[:3]}.{cpf_cnpj[3:6]}.{cpf_cnpj[6:9]}-{cpf_cnpj[9:]}'
    elif len(cpf_cnpj) == 14:
        cpf_cnpj_formatado = f'{cpf_cnpj[:2]}.{cpf_cnpj[2:5]}.{cpf_cnpj[5:8]}/{cpf_cnpj[8:12]}-{cpf_cnpj[12:]}'
    else:
        # Caso a string não seja do tamanho esperado, mantém o valor original
        cpf_cnpj_formatado = cpf_cnpj

    # Retorna a string formatada
    return cpf_cnpj_formatado

In [109]:
df_contribuintes_receitas_2022 = extrair_cpf_cnpj(df_contribuintes_receitas_2022)
df_contribuintes_receitas_2022

      CPF/CNPJ                                  CONTRIBUINTE  TIPO
0                                         banco do brasil sa     1
13                 sec educeducinfantil ii  fundeb  efetivos     1
15                 sec educeduc infantil i  fundeb  efetivos     1
16                            camara municipal de cajazeiras     1
18                        prefeitura municipal de cajazeiras     1
...        ...                                           ...   ...
8719                       maria aparecida pereira rodrigues     2
16077                                                   inss     2
16081                                        29 pensionistas     2
8904                                      banco do brasil sa     3
8933            r2 mobbi sistemas e mobilidade urbana eireli     3

[361 rows x 3 columns]

#### Merge dos DF Contribuintes

In [110]:
def merge_dataframes(df1, df2):
    
    # Cria cópias dos dataframes para evitar perda de dados
    df1_copy = df1.copy()
    df2_copy = df2.copy()
    
    # Itera sobre cada linha do primeiro dataframe
    for i, row1 in df1_copy.iterrows():
        
        # Itera sobre cada linha do segundo dataframe
        for j, row2 in df2_copy.iterrows():
            
            # Compara o valor da coluna 'CONTRIBUINTE' em ambas as linhas
            if row1['CONTRIBUINTE'] == row2['CONTRIBUINTE']:
                
                # Atribui o valor da coluna 'CPF/CNPJ' do primeiro dataframe no segundo
                df2_copy.at[j, 'CPF/CNPJ'] = row1['CPF/CNPJ']
    
    # Faz o merge dos dois dataframes sem valores duplicados
    merged_df = pd.concat([df1_copy, df2_copy]).reset_index(drop=True)
    
    return merged_df

In [111]:
df_merge_contribuintes = merge_dataframes(df_contribuintes_receitas_2020, df_contribuintes_receitas_2022)
df_merge_contribuintes

                CPF/CNPJ                                  CONTRIBUINTE  TIPO
0     08.923.971/0001-15            prefeitura municipal de cajazeiras     1
1     00.360.305/0040-10                       caixa economica federal     1
2                    NaN                                         fopag     1
3         603.496.544-68                     juramir oliveira de sousa     1
4         064.659.174-67                paula lais de oliveira santana     1
...                  ...                                           ...   ...
1561                                 maria aparecida pereira rodrigues     2
1562  29.979.036/0169-00                                          inss     2
1563                                                   29 pensionistas     2
1564  00.000.000/0099-03                            banco do brasil sa     3
1565                      r2 mobbi sistemas e mobilidade urbana eireli     3

[1566 rows x 3 columns]

In [112]:
df_merge_contribuintes.loc[df_merge_contribuintes['CONTRIBUINTE'] == 'banco do brasil sa']

                CPF/CNPJ        CONTRIBUINTE  TIPO
121   00.000.000/0099-03  banco do brasil sa     1
134   00.000.000/0001-91  banco do brasil sa     1
161   30.822.936/0001-69  banco do brasil sa     1
1184  30.822.936/0001-69  banco do brasil sa     2
1186  00.000.000/1641-19  banco do brasil sa     2
1203  00.000.000/0099-03  banco do brasil sa     3
1205  00.000.000/0099-03  banco do brasil sa     1
1555  00.000.000/0099-03  banco do brasil sa     2
1564  00.000.000/0099-03  banco do brasil sa     3

In [113]:
import random

def gerar_codigo_unico(df, codigo_column, tipo_column):
    # Verificar se a coluna "CODIGO" já existe no dataframe
    if codigo_column in df.columns:
        return df
    
    # Criar uma cópia do dataframe original para evitar perdas de dados
    df_novo = df.copy()
    
    # Criar uma série com o número de ocorrências de cada TIPO no dataframe
    num_ocorrencias_tipo = df_novo.groupby(tipo_column).size()
    
    # Criar uma série com o código gerado para cada TIPO
    codigos_tipo = pd.Series([''.join(random.choices(string.ascii_uppercase + string.digits, k=10)) for _ in range(len(num_ocorrencias_tipo))], index=num_ocorrencias_tipo.index)
    
    # Criar uma série com o código único para cada linha do dataframe, baseado no agrupamento do TIPO
    codigos_linha = df_novo.apply(lambda row: f"{codigos_tipo[row[tipo_column]]}-{row.name}", axis=1)
    
    # Adicionar uma coluna "CODIGO" ao dataframe com os códigos únicos gerados para cada linha
    df_novo.insert(0, codigo_column, codigos_linha)
    
    return df_novo

def preenche_celulas_vazias(df, column, fill_string):
    # Verifica se a coluna especificada está presente no dataframe
    if column not in df.columns:
        print(f"Coluna {column} não encontrada no dataframe!")
        return df
    
    # Cria uma cópia do dataframe para evitar a perda dos dados originais
    df_novo = df.copy()

    # Preenche células vazias na coluna 'CPF/CNPJ' com a mensagem 'nao ha registro do documento original'
    df_novo[column].fillna(fill_string, inplace=True)

    # Preenche células vazias na coluna 'CPF/CNPJ' com a mensagem 'nao ha registro do documento original'
    df_novo[column].replace('', fill_string, inplace=True)

    return df_novo

In [114]:
df_merge_contribuintes = gerar_codigo_unico(df_merge_contribuintes,'CODIGO','TIPO')
df_merge_contribuintes = preenche_celulas_vazias(df_merge_contribuintes,'CPF/CNPJ', 'nao ha registros do documentos na fonte de dados')
df_merge_contribuintes

,CODIGO,CPF/CNPJ,CONTRIBUINTE,TIPO
0,0OBKU39NFJ-0,08.923.971/0001-15,prefeitura municipal de cajazeiras,1
1,0OBKU39NFJ-1,00.360.305/0040-10,caixa economica federal,1
2,0OBKU39NFJ-2,nao ha registros do documentos na fonte de dados,fopag,1
3,0OBKU39NFJ-3,603.496.544-68,juramir oliveira de sousa,1
4,0OBKU39NFJ-4,064.659.174-67,paula lais de oliveira santana,1
...,...,...,...,...
1561,TRL0B5FKWV-1561,nao ha registros do documentos na fonte de dados,maria aparecida pereira rodrigues,2
1562,TRL0B5FKWV-1562,29.979.036/0169-00,inss,2
1563,TRL0B5FKWV-1563,nao ha registros do documentos na fonte de dados,29 pensionistas,2
1564,092ZCJLMBD-1564,00.000.000/0099-03,banco do brasil sa,3
1565,092ZCJLMBD-1565,nao ha registros do documentos na fonte de dados,r2 mobbi sistemas e mobilidade urbana eireli,3

In [115]:
df_merge_contribuintes.loc[df_merge_contribuintes['CONTRIBUINTE'] == 'banco do brasil sa']

               CODIGO            CPF/CNPJ        CONTRIBUINTE  TIPO
121    0OBKU39NFJ-121  00.000.000/0099-03  banco do brasil sa     1
134    0OBKU39NFJ-134  00.000.000/0001-91  banco do brasil sa     1
161    0OBKU39NFJ-161  30.822.936/0001-69  banco do brasil sa     1
1184  TRL0B5FKWV-1184  30.822.936/0001-69  banco do brasil sa     2
1186  TRL0B5FKWV-1186  00.000.000/1641-19  banco do brasil sa     2
1203  092ZCJLMBD-1203  00.000.000/0099-03  banco do brasil sa     3
1205  0OBKU39NFJ-1205  00.000.000/0099-03  banco do brasil sa     1
1555  TRL0B5FKWV-1555  00.000.000/0099-03  banco do brasil sa     2
1564  092ZCJLMBD-1564  00.000.000/0099-03  banco do brasil sa     3

In [116]:
df_merge_contribuintes = remove_espacos_duplos(df_merge_contribuintes)

C:\Users\MacInBox\AppData\Local\Temp\ipykernel_2724\2630336717.py:9: FutureWarning: The default value of regex will change from True to False in a future version.
  df_copy[col] = df_copy[col].str.replace('\s+', ' ')

In [117]:
df_merge_contribuintes.to_csv('dados_contribuintes.csv', index=False, sep=';')

with open('dados_contribuintes.csv', 'w', encoding='utf-8', newline='') as f:
    df_merge_contribuintes.to_csv(f, **csv_kwargs)

### Tratamento da coluna data - Dimensão Tempo

#### Função para mergear os df pela coluna DATA

In [118]:
def merge_columns(dataframes_list, column_name):
    """
    Esta função recebe uma lista de pandas dataframes e o nome de uma coluna que
    deve ser usada para fazer a junção dos dataframes. Retorna um novo dataframe contendo
    apenas os valores únicos da coluna especificada dos dataframes originais.

    Argumentos:
    - dataframes_list: uma lista de pandas dataframes que serão juntados
    - column_name: o nome da coluna que deve ser usada para a junção

    Retorna:
    - um novo pandas dataframe contendo apenas os valores únicos da coluna especificada
    dos dataframes originais
    """
    # Verifica se a lista de dataframes é válida
    if not isinstance(dataframes_list, list) or not all(isinstance(df, pd.DataFrame) for df in dataframes_list):
        raise ValueError("A entrada deve ser uma lista de pandas dataframes")

    # Verifica se o nome da coluna é válido
    if not all(column_name in df.columns for df in dataframes_list):
        raise ValueError("O nome da coluna especificada não está presente em todos os dataframes")

    # Concatena os valores da coluna especificada de todos os dataframes
    column_values = pd.concat([df[column_name] for df in dataframes_list], ignore_index=True)

    # Remove valores duplicados da coluna concatenada
    unique_values = column_values.drop_duplicates()

    # Cria um novo dataframe com os valores únicos da coluna
    merged_df = pd.DataFrame({column_name: unique_values})

    return merged_df

In [119]:
df_datas_mergeado = merge_columns(list_data_frames, 'DATA')
df_datas_mergeado

              DATA
0       03/01/2013
1       04/01/2013
2       07/01/2013
3       08/01/2013
4       15/01/2013
...            ...
100476  07/01/2022
100480  06/01/2022
100484  05/01/2022
100487  04/01/2022
100490  03/01/2022

[2595 rows x 1 columns]

In [120]:
def converte_para_datetime(df, nome_coluna):
    novo_df = df.copy() # Criando uma cópia do dataframe para evitar perda de dados
    novo_df[nome_coluna] = pd.to_datetime(novo_df[nome_coluna], format='%d/%m/%Y') # Convertendo a coluna para datetime com o formato especificado
    novo_df['ANO'] = pd.to_datetime(novo_df[nome_coluna]).dt.year # Extrai o ano da coluna "DATA" e adiciona como nova coluna "ANO"
    novo_df['MES'] = pd.to_datetime(novo_df[nome_coluna]).dt.month # Extrai o mês da coluna "DATA" e adiciona como nova coluna "MES"
    novo_df['DIA'] = pd.to_datetime(novo_df[nome_coluna]).dt.day # Extrai o dia da coluna "DATA" e adiciona como nova coluna "DIA"
    return novo_df

In [121]:
df_datas_tratadas = converte_para_datetime(df_datas_mergeado, 'DATA')
df_datas_tratadas

             DATA   ANO  MES  DIA
0      2013-01-03  2013    1    3
1      2013-01-04  2013    1    4
2      2013-01-07  2013    1    7
3      2013-01-08  2013    1    8
4      2013-01-15  2013    1   15
...           ...   ...  ...  ...
100476 2022-01-07  2022    1    7
100480 2022-01-06  2022    1    6
100484 2022-01-05  2022    1    5
100487 2022-01-04  2022    1    4
100490 2022-01-03  2022    1    3

[2595 rows x 4 columns]

In [122]:
meses_do_ano = {1: 'janeiro', 
                2: 'fevereiro', 
                3: 'marco', 
                4: 'abril', 
                5: 'maio', 
                6: 'junho', 
                7: 'julho', 
                8: 'agosto', 
                9: 'setembro', 
                10: 'outubro', 
                11: 'novembro', 
                12: 'dezembro'}

In [123]:
trimestres_ano = {'janeiro':'primeiro trimestre','fevereiro':'primeiro trimestre','marco':'primeiro trimestre',
                  'abril':'segundo trimestre','maio':'segundo trimestre','junho':'segundo trimestre',
                  'julho':'terceiro trimestre','agosto':'terceiro trimestre','setembro':'terceiro trimestre',
                  'outubro':'quarto trimestre','novembro':'quarto trimestre','dezembro':'quarto trimestre',}
codigo_trimestre = {'primeiro trimestre': 1, 'segundo trimestre': 2, 'terceiro trimestre': 3, 'quarto trimestre':4}

In [124]:
semestres_ano = {'primeiro trimestre':'primeiro semestre','segundo trimestre':'primeiro semestre',
                 'terceiro trimestre':'segundo semestre','quarto trimestre':'segundo semestre'}
codigo_semestre = {'primeiro semestre': 1, 'segundo semestre': 2}

In [125]:
def alterar_colunas(df, coluna):
    # criar cópia do dataframe para não perder dados originais
    novo_df = df.copy()
    
    # usar o método replace() do pandas para trocar os valores da coluna pelo dicionário
    novo_df[coluna] = novo_df[coluna].replace(meses_do_ano)
    # criação da coluna TRIMESTRE com base na coluna MES e no dicionario de trimestres
    novo_df['TRIMESTRE'] = novo_df['MES'].map(trimestres_ano)
    # criação da coluna COD_TRIMESTRE com base na coluna TRIMESTRE e no dicionario de códigos de trimestres
    novo_df['COD_TRIMESTRE'] = novo_df['TRIMESTRE'].map(codigo_trimestre)
    # criação da coluna SEMESTRE com base na coluna TRIMESTRE e no dicionario de semestres
    novo_df['SEMESTRE'] = novo_df['TRIMESTRE'].map(semestres_ano)
    # criação da coluna COD_SEMESTRE com base na coluna SEMESTRE e no dicionario de códigos de trimestres
    novo_df['COD_SEMESTRE'] = novo_df['SEMESTRE'].map(codigo_semestre)

    return novo_df

In [126]:
df_datas_tratadas = alterar_colunas(df_datas_tratadas, 'MES')
df_datas_tratadas

,DATA,ANO,MES,DIA,TRIMESTRE,COD_TRIMESTRE,SEMESTRE,COD_SEMESTRE
0,2013-01-03,2013,janeiro,3,primeiro trimestre,1,primeiro semestre,1
1,2013-01-04,2013,janeiro,4,primeiro trimestre,1,primeiro semestre,1
2,2013-01-07,2013,janeiro,7,primeiro trimestre,1,primeiro semestre,1
3,2013-01-08,2013,janeiro,8,primeiro trimestre,1,primeiro semestre,1
4,2013-01-15,2013,janeiro,15,primeiro trimestre,1,primeiro semestre,1
...,...,...,...,...,...,...,...,...
100476,2022-01-07,2022,janeiro,7,primeiro trimestre,1,primeiro semestre,1
100480,2022-01-06,2022,janeiro,6,primeiro trimestre,1,primeiro semestre,1
100484,2022-01-05,2022,janeiro,5,primeiro trimestre,1,primeiro semestre,1
100487,2022-01-04,2022,janeiro,4,primeiro trimestre,1,primeiro semestre,1
100490,2022-01-03,2022,janeiro,3,primeiro trimestre,1,primeiro semestre,1

In [127]:
df_datas_tratadas.to_csv('dados_tempo.csv', index=False, sep=';')

with open('dados_tempo.csv', 'w', encoding='utf-8', newline='') as f:
    df_datas_tratadas.to_csv(f, **csv_kwargs)

### Tratamento dos tipos de receitas

In [128]:
lista_colunas_desejadas = ['CODIGO','RECEITA']

def merge_and_select_columns(dataframes_list, columns_list):
    # Criando um novo DataFrame para evitar perda de dados nos DataFrames originais
    merged_df = pd.concat(dataframes_list, ignore_index=True)
    # Selecionando somente as colunas informadas na lista de parâmetro
    selected_columns = merged_df[columns_list].drop_duplicates(subset='CODIGO').reset_index(drop=True)
    # Retornando o novo DataFrame com as colunas selecionadas e sem valores duplicados
    return selected_columns

In [129]:
df_tipos_receitas_2020 = merge_and_select_columns(list_data_frames[:8], lista_colunas_desejadas)
df_tipos_receitas_2020 = tratar_coluna(df_tipos_receitas_2020, 'RECEITA')
df_tipos_receitas_2020

         CODIGO                                            RECEITA
0    1722010101                                  cotaparte do icms
1    1721010201  cotaparte do fundo de participacao dos municipios
2    9722010101  deducao de receita para a formacao do fundef icms
3    9721010201  deducao de receita do fpm fundef e redutor fin...
4    1113050002                              sna  simples nacional
..          ...                                                ...
310  1718991104  outras transferencias da uniao  lc 1732020 art...
311  2418109102  transferencias de convenio da uniao  ministeri...
312  1718991105    outras transferencias da uniao  lei aldir blanc
313  1121041101          taxa de controle e fiscalizacao ambiental
314  2418042100  transferencias de recursos do sus destinados a...

[315 rows x 2 columns]

In [130]:
df_tipos_receitas_2022 = merge_and_select_columns(list_data_frames[7:], lista_colunas_desejadas)
df_tipos_receitas_2022 = tratar_coluna(df_tipos_receitas_2022, 'RECEITA')
df_tipos_receitas_2022

         CODIGO                                            RECEITA
0    1718031103                                    saude bucal  sb
1    1718031101                   agentes comunitarios de saudeacs
2    1718039100  outros programas do sus financ por transf fund...
3    1718031102                               saude da familia  sf
4    1718031104           nucleo de apoio a saude da familia  nasf
..          ...                                                ...
185   121501111    contribuicao do servidor civil ativo  principal
186   721551111   contribuicao patronal  servidor civil ativo  ...
187   121501211   contribuicao do servidor civil inativo  princ...
188   132104011   remuneracao dos recursos do regime proprio de...
189   191101011   multas previstas em legislacao especifica  pr...

[190 rows x 2 columns]

In [131]:
list_tipos_receitas = [df_tipos_receitas_2020,df_tipos_receitas_2022]
df_merge_tipos_receitas = merge_and_select_columns(list_tipos_receitas, lista_colunas_desejadas)
df_merge_tipos_receitas

         CODIGO                                            RECEITA
0    1722010101                                  cotaparte do icms
1    1721010201  cotaparte do fundo de participacao dos municipios
2    9722010101  deducao de receita para a formacao do fundef icms
3    9721010201  deducao de receita do fpm fundef e redutor fin...
4    1113050002                              sna  simples nacional
..          ...                                                ...
411   121501111    contribuicao do servidor civil ativo  principal
412   721551111   contribuicao patronal  servidor civil ativo  ...
413   121501211   contribuicao do servidor civil inativo  princ...
414   132104011   remuneracao dos recursos do regime proprio de...
415   191101011   multas previstas em legislacao especifica  pr...

[416 rows x 2 columns]

In [132]:
df_merge_tipos_receitas = remove_espacos_duplos(df_merge_tipos_receitas)

C:\Users\MacInBox\AppData\Local\Temp\ipykernel_2724\2630336717.py:9: FutureWarning: The default value of regex will change from True to False in a future version.
  df_copy[col] = df_copy[col].str.replace('\s+', ' ')

In [133]:
df_merge_tipos_receitas.to_csv('dados_tipos_receitas.csv', index=False, sep=';')

with open('dados_tipos_receitas.csv', 'w', encoding='utf-8', newline='') as f:
    df_merge_tipos_receitas.to_csv(f, **csv_kwargs)

### Tramento do Fato Receita

*Manter as colunas CODIGO (COD_RECEITA), DATA (ALTERAR PARA DATETIME), CPF/CNPJ/CODIGO, VALOR ARRECADADO, TIPO (FONTE DOS DADOS)*

In [134]:
df_dados_completos_2020.head()

,CODIGO,RECEITA,DATA,CONTRIBUINTE,CPF/CNPJ,VALOR PREVISTO,VALOR ARRECADADO,TIPO
0,1722010101,cotaparte do icms,03/01/2013,pref municipal de cajazeiras,08.923.971/0001-15,8362000.0,185560.68,1
1,1722010101,cotaparte do icms,04/01/2013,pref municipal de cajazeiras,08.923.971/0001-15,8362000.0,8081.80,1
2,1722010101,cotaparte do icms,07/01/2013,pref municipal de cajazeiras,08.923.971/0001-15,8362000.0,4231.39,1
3,1722010101,cotaparte do icms,08/01/2013,pref municipal de cajazeiras,08.923.971/0001-15,8362000.0,10536.53,1
4,1722010101,cotaparte do icms,15/01/2013,pref municipal de cajazeiras,08.923.971/0001-15,8362000.0,103118.27,1

In [135]:
df_receitas_2020 = padroniza_contribuintes(df_dados_completos_2020, dic_padronizar_valores, 'CONTRIBUINTE')
df_receitas_2020.head()

,CODIGO,RECEITA,DATA,CONTRIBUINTE,CPF/CNPJ,VALOR PREVISTO,VALOR ARRECADADO,TIPO
0,1722010101,cotaparte do icms,03/01/2013,prefeitura municipal de cajazeiras,08.923.971/0001-15,8362000.0,185560.68,1
1,1722010101,cotaparte do icms,04/01/2013,prefeitura municipal de cajazeiras,08.923.971/0001-15,8362000.0,8081.80,1
2,1722010101,cotaparte do icms,07/01/2013,prefeitura municipal de cajazeiras,08.923.971/0001-15,8362000.0,4231.39,1
3,1722010101,cotaparte do icms,08/01/2013,prefeitura municipal de cajazeiras,08.923.971/0001-15,8362000.0,10536.53,1
4,1722010101,cotaparte do icms,15/01/2013,prefeitura municipal de cajazeiras,08.923.971/0001-15,8362000.0,103118.27,1

In [136]:
df_dados_completos_2022.head()

,CODIGO,RECEITA,DATA,CONTRIBUINTE,VALOR ARRECADADO,TIPO
0,175801111,transferencias de recursos do fundo de manute...,01/12/2021,banco do brasil sa,6224.78,1
1,132100111,remuneracao de depositos bancarios principal,01/12/2021,banco do brasil sa,-6224.78,1
2,175801111,transferencias de recursos do fundo de manute...,01/12/2021,banco do brasil sa,722577.64,1
3,171809111,transferencias de recursos da complementacao ...,01/12/2021,banco do brasil sa,-722577.64,1
4,175801111,transferencias de recursos do fundo de manute...,01/12/2021,banco do brasil sa,1166975.68,1

In [140]:
def acrescenta_codigo_contribuintes_2021_2022(df1, df2):
    # Usando merge para combinar os dataframes
    df_merged = df1.merge(df2, on=['CONTRIBUINTE', 'TIPO'], how='left')
    # Preenche valores ausentes com 'sem correspondência'
    df_merged.fillna('sem correspondência', inplace=True)
    return df_merged

In [141]:
def acrescenta_codigo_contribuintes_2013_2020(df1, df2):

    # Usando merge para combinar os dataframes
    df_merged = df1.merge(df2, on=['CPF/CNPJ', 'TIPO'], how='left', fill_value='sem correspondência')

    return df_merged

In [142]:
df_receitas_2022 = acrescenta_codigo_contribuintes_2021_2022(df_dados_completos_2022, df_merge_contribuintes)
df_receitas_2022.head()

,CODIGO_x,RECEITA,DATA,CONTRIBUINTE,VALOR ARRECADADO,TIPO,CODIGO_y,CPF/CNPJ
0,175801111,transferencias de recursos do fundo de manute...,01/12/2021,banco do brasil sa,6224.78,1,0OBKU39NFJ-121,00.000.000/0099-03
1,175801111,transferencias de recursos do fundo de manute...,01/12/2021,banco do brasil sa,6224.78,1,0OBKU39NFJ-134,00.000.000/0001-91
2,175801111,transferencias de recursos do fundo de manute...,01/12/2021,banco do brasil sa,6224.78,1,0OBKU39NFJ-161,30.822.936/0001-69
3,175801111,transferencias de recursos do fundo de manute...,01/12/2021,banco do brasil sa,6224.78,1,0OBKU39NFJ-1205,00.000.000/0099-03
4,132100111,remuneracao de depositos bancarios principal,01/12/2021,banco do brasil sa,-6224.78,1,0OBKU39NFJ-121,00.000.000/0099-03

In [144]:
df_receitas_2022.drop(['RECEITA','CONTRIBUINTE','CPF/CNPJ'], axis=1, inplace=True)
df_receitas_2022.rename({'CODIGO_x':'COD_RECEITA','CODIGO_y':'COD_CONTRIBUINTE','TIPO':'FONTE_DADOS', 'VALOR ARRECADADO':'VALOR_ARRECADADO'}, axis=1, inplace=True)
df_receitas_2022 = df_receitas_2022.reindex(['COD_RECEITA','DATA','COD_CONTRIBUINTE','VALOR_ARRECADADO','FONTE_DADOS'], axis=1)
df_receitas_2022['DATA'] = pd.to_datetime(df_receitas_2022['DATA'], format='%d/%m/%Y')

df_receitas_2022.head()

   COD_RECEITA       DATA COD_CONTRIBUINTE  VALOR_ARRECADADO  FONTE_DADOS
0    175801111 2021-12-01   0OBKU39NFJ-121           6224.78            1
1    175801111 2021-12-01   0OBKU39NFJ-134           6224.78            1
2    175801111 2021-12-01   0OBKU39NFJ-161           6224.78            1
3    175801111 2021-12-01  0OBKU39NFJ-1205           6224.78            1
4    132100111 2021-12-01   0OBKU39NFJ-121          -6224.78            1

In [145]:
df_receitas_2022.isnull().value_counts()

COD_RECEITA  DATA   COD_CONTRIBUINTE  VALOR_ARRECADADO  FONTE_DADOS
False        False  False             False             False          43240
dtype: int64

In [ ]:
df_receitas_2020 = acrescenta_codigo_contribuintes_2013_2020(df_dados_completos_2020, df_merge_contribuintes)
df_receitas_2020.head()

,CODIGO_x,RECEITA,DATA,CONTRIBUINTE_x,CPF/CNPJ,VALOR PREVISTO,VALOR ARRECADADO,TIPO,CODIGO_y,CONTRIBUINTE_y
0,1722010101,cotaparte do icms,03/01/2013,pref municipal de cajazeiras,08.923.971/0001-15,8362000.0,185560.68,1,9MVSAX76NA-0,prefeitura municipal de cajazeiras
1,1722010101,cotaparte do icms,03/01/2013,pref municipal de cajazeiras,08.923.971/0001-15,8362000.0,185560.68,1,9MVSAX76NA-1209,prefeitura municipal de cajazeiras
2,1722010101,cotaparte do icms,04/01/2013,pref municipal de cajazeiras,08.923.971/0001-15,8362000.0,8081.80,1,9MVSAX76NA-0,prefeitura municipal de cajazeiras
3,1722010101,cotaparte do icms,04/01/2013,pref municipal de cajazeiras,08.923.971/0001-15,8362000.0,8081.80,1,9MVSAX76NA-1209,prefeitura municipal de cajazeiras
4,1722010101,cotaparte do icms,07/01/2013,pref municipal de cajazeiras,08.923.971/0001-15,8362000.0,4231.39,1,9MVSAX76NA-0,prefeitura municipal de cajazeiras

In [ ]:
df_receitas_2020.drop(['RECEITA','CONTRIBUINTE_x','VALOR PREVISTO','CPF/CNPJ','CONTRIBUINTE_y'], axis=1, inplace=True)
df_receitas_2020.rename({'CODIGO_x':'COD_RECEITA','TIPO':'FONTE_DADOS','CODIGO_y':'COD_CONTRIBUINTE','VALOR ARRECADADO':'VALOR_ARRECADADO'}, axis=1, inplace=True)
df_receitas_2020 = df_receitas_2020.reindex(['COD_RECEITA','DATA','COD_CONTRIBUINTE','VALOR_ARRECADADO','FONTE_DADOS'], axis=1)
df_receitas_2020['DATA'] = pd.to_datetime(df_receitas_2020['DATA'], format='%d/%m/%Y')

df_receitas_2020.head()

   COD_RECEITA       DATA COD_CONTRIBUINTE  VALOR_ARRECADADO  FONTE_DADOS
0   1722010101 2013-01-03     9MVSAX76NA-0         185560.68            1
1   1722010101 2013-01-03  9MVSAX76NA-1209         185560.68            1
2   1722010101 2013-01-04     9MVSAX76NA-0           8081.80            1
3   1722010101 2013-01-04  9MVSAX76NA-1209           8081.80            1
4   1722010101 2013-01-07     9MVSAX76NA-0           4231.39            1

In [ ]:
df_receitas_2020.isnull().value_counts()

COD_RECEITA  DATA   COD_CONTRIBUINTE  VALOR_ARRECADADO  FONTE_DADOS
False        False  False             False             False          125571
                    True              False             False            7857
dtype: int64

In [ ]:
df_receitas = pd.concat([df_receitas_2020, df_receitas_2022])
df_receitas

       COD_RECEITA       DATA COD_CONTRIBUINTE  VALOR_ARRECADADO  FONTE_DADOS
0       1722010101 2013-01-03     9MVSAX76NA-0         185560.68            1
1       1722010101 2013-01-03  9MVSAX76NA-1209         185560.68            1
2       1722010101 2013-01-04     9MVSAX76NA-0           8081.80            1
3       1722010101 2013-01-04  9MVSAX76NA-1209           8081.80            1
4       1722010101 2013-01-07     9MVSAX76NA-0           4231.39            1
...            ...        ...              ...               ...          ...
43235    191101011 2022-01-18  WROAIOHS28-1564           3758.69            3
43236    112101011 2022-01-17  WROAIOHS28-1203           4297.00            3
43237    112101011 2022-01-17  WROAIOHS28-1564           4297.00            3
43238    191101011 2022-01-17  WROAIOHS28-1203          78032.06            3
43239    191101011 2022-01-17  WROAIOHS28-1564          78032.06            3

[176668 rows x 5 columns]

In [ ]:
df_receitas_2020 = remove_espacos_duplos(df_receitas_2020)
df_receitas_2022 = remove_espacos_duplos(df_receitas_2022)
df_receitas = remove_espacos_duplos(df_receitas)

C:\Users\MacInBox\AppData\Local\Temp\ipykernel_2724\2630336717.py:9: FutureWarning: The default value of regex will change from True to False in a future version.
  df_copy[col] = df_copy[col].str.replace('\s+', ' ')

In [ ]:
df_receitas_2020.to_csv('dados_receitas_2013_2020.csv', index=False, sep=';')

with open('dados_receitas_2013_2020.csv', 'w', encoding='utf-8', newline='') as f:
    df_receitas_2020.to_csv(f, **csv_kwargs)

In [ ]:
df_receitas_2022.to_csv('dados_receitas_2021_2022.csv', index=False, sep=';')

with open('dados_receitas_2021_2022.csv', 'w', encoding='utf-8', newline='') as f:
    df_receitas_2020.to_csv(f, **csv_kwargs)

In [ ]:
df_receitas.to_csv('dados_receitas.csv', index=False, sep=';')

with open('dados_receitas.csv', 'w', encoding='utf-8', newline='') as f:
    df_receitas_2020.to_csv(f, **csv_kwargs)

In [ ]:
df_receitas.isnull().value_counts()

COD_RECEITA  DATA   COD_CONTRIBUINTE  VALOR_ARRECADADO  FONTE_DADOS
False        False  False             False             False          166850
                    True              False             False            9818
dtype: int64

# Funções não utilizadas, mas que podem ser úteis

In [ ]:
def generate_random_cnpj():
    # Gera um número aleatório de 14 dígitos e converte para string
    cnpj = str(randint(10000000000000, 99999999999999))
    
    # Pega os primeiros 12 dígitos do número gerado
    cnpj_base = cnpj[:-2]
    
    # Calcula o primeiro dígito verificador do CNPJ
    dv1 = calcular_digito_verificador(cnpj_base)
    
    # Calcula o segundo dígito verificador do CNPJ
    dv2 = calcular_digito_verificador(cnpj_base + str(dv1))
    
    # Formata o CNPJ na string de retorno
    return f"{cnpj[:2]}.{cnpj[2:5]}.{cnpj[5:8]}/{cnpj[8:12]}-{dv1}{dv2}"

def calcular_digito_verificador(cnpj_base):
    # Define os pesos utilizados para calcular o dígito verificador
    pesos = [5, 4, 3, 2, 9, 8, 7, 6, 5, 4, 3, 2]

    # Calcula a soma dos produtos dos dígitos do CNPJ pela sequência de pesos
    soma = sum([int(cnpj_base[i]) * pesos[i] for i in range(12)])

    # Calcula o resto da divisão da soma por 11
    resto = soma % 11

    # Se o resto for menor que 2, o dígito verificador é 0
    if resto < 2:
        return 0
    # Se o resto for maior ou igual a 2, o dígito verificador é a diferença entre 11 e o resto
    else:
        return 11 - resto


def generate_random_cpf():
    cpf_base = [randint(0, 9) for _ in range(9)]
    
    # Calcula o primeiro dígito verificador
    dv1 = sum([i * cpf_base[i] for i in range(9, 0, -1)]) % 11
    cpf_base.append(0 if dv1 < 2 else 11 - dv1)
    
    # Calcula o segundo dígito verificador
    dv2 = sum([i * cpf_base[i] for i in range(10, 0, -1)]) % 11
    cpf_base.append(0 if dv2 < 2 else 11 - dv2)
    
    return f"{cpf_base[0]}{cpf_base[1]}{cpf_base[2]}.{cpf_base[3]}{cpf_base[4]}{cpf_base[5]}.{cpf_base[6]}{cpf_base[7]}{cpf_base[8]}-{cpf_base[9]}{cpf_base[10]}"

def buscar_cpf_cnpj(numero):
    url = f"https://www.receitaws.com.br/v1/cnpj/{numero}"
    response = requests.get(url)
    if response.status_code == 200 and "erro" not in response.json():
        return response.json()["cnpj"]
    return generate_random_cnpj()

def gerar_cpf_cnpj(df, coluna_paradigma):
    documentos = {}
    cnpjs = []
    for item in df[coluna_paradigma]:
        documento = ''.join(filter(str.isdigit, str(item)))
        if documento in documentos:
            cnpj = documentos[documento]
        elif len(documento) == 11:
            cnpj = documento
            documentos[documento] = documento
        elif len(documento) == 14:
            cnpj = documento[:2] + '.' + documento[2:5] + '.' + documento[5:8] + '/' + documento[8:12] + '-' + documento[12:]
            documentos[documento] = cnpj
        else:
            cnpj = buscar_cpf_cnpj(documento)
            documentos[documento] = cnpj
        cnpjs.append(cnpj)
    df['CPF/CNPJ'] = cnpjs

In [ ]:
def compare_columns(df_comparador, column_comparador, df_comparacao, column_comparacao, doc_column):
    # Cria cópias dos dataframes para evitar alterações indesejadas nos dados originais
    df1_copy = df_comparador.copy()
    df2_copy = df_comparacao.copy()

    # Cria uma nova coluna nos dataframes, caso ela ainda não exista
    if doc_column not in df1_copy.columns:
        df1_copy[doc_column] = pd.Series(dtype=str)
    if doc_column not in df2_copy.columns:
        df2_copy[doc_column] = pd.Series(dtype=str)

    # Remove valores numéricos e caracteres especiais das colunas de comparação
    df1_copy[column_comparador] = df1_copy[column_comparador].apply(lambda x: re.sub('[^A-Za-z ]+', '', x))
    df2_copy[column_comparacao] = df2_copy[column_comparacao].apply(lambda x: re.sub('[^A-Za-z ]+', '', x))

    # Cria as listas dos valores similares e não similares
    valores_similares = []
    valores_nao_similares = []

    # Percorre cada linha dos dataframes usando loops aninhados
    for index1, row1 in df1_copy.iterrows():
        is_similar = False
        for index2, row2 in df2_copy.iterrows():
            # Calcula a similaridade entre as duas strings usando a função `fuzz.token_sort_ratio()`
            similarity = fuzz.token_sort_ratio(row1[column_comparador], row2[column_comparacao])
            # Verifica se a similaridade é superior a 90%
            if similarity > 90:
                is_similar = True
                # Verifica se o número do documento já está presente em um dos dataframes
                if pd.isna(row1[doc_column]):
                    df1_copy.at[index1, doc_column] = row2[doc_column]
                elif pd.isna(row2[doc_column]):
                    df2_copy.at[index2, doc_column] = row1[doc_column]
                valores_similares.append(row2[column_comparacao])
                break
        if not is_similar:
            valores_nao_similares.append(row1[column_comparador])

    # Realiza o merge dos dataframes
    merged_df = pd.merge(df1_copy, df2_copy, how='outer')

    # Retorna os valores similares, não similares e o merge dos dataframes
    return valores_similares, valores_nao_similares, merged_df

In [ ]:
# valores_similares, valores_nao_similares, df_juncao_contribuintes_gerais = compare_columns(df_contribuintes_receitas_2020,'CONTRIBUINTE',df_contribuintes_receitas_2022,'CONTRIBUINTE','CPF/CNPJ')