# Import e tratamento dos dados

## Import de dados

In [1]:
import pandas as pd
import chardet

In [2]:
with open("02_dados_pre_tratados/dados_camara_2016.csv", "rb") as f:
    result = chardet.detect(f.read())

df_camara_2016 = pd.read_csv("02_dados_pre_tratados/dados_camara_2016.csv", sep=";", encoding=result['encoding'])
df_camara_2016

,Despesa,Número,Data,Nome,CPF/CNPJ,Empenhado(R$),Liquidado(R$),Pago(R$),Saldo(R$)
0,8,1,29/01/2016,Câmara Municipal de Cajazeiras,08.841.553/0001-89,"198.773,28","198.773,28","198.773,28",0
1,11,2,29/01/2016,Marcos Helder,646.603.624-34,"243,5","243,5","243,5",0
2,13,3,29/01/2016,CAMARA MUNICIPAL DE CAJAZEIRAS,08.841.553/0001-89,"3.304,00","3.304,00","3.304,00",0
3,16,4,29/01/2016,Marcos Helder,646.603.624-34,"6.776,00","6.776,00","6.776,00",0
4,17,5,29/01/2016,CAMARA MUNICIPAL DE CAJAZEIRAS,08.841.553/0001-89,"2.185,12","2.185,12","2.185,12",0
...,...,...,...,...,...,...,...,...,...
113,16,115,30/12/2016,Marcos Helder,646.603.624-34,"9.984,98","9.984,98","9.984,98",0
114,17,116,30/12/2016,CAMARA MUNICIPAL DE CAJAZEIRAS,08.841.553/0001-89,"7.810,15","7.810,15","7.810,15",0
115,22,117,30/12/2016,CAMARA MUNICIPAL DE CAJAZEIRAS,08.841.553/0001-89,"54.139,40","54.139,40","54.139,40",0
116,24,118,30/12/2016,CAMARA MUNICIPAL DE CAJAZEIRAS,08.841.553/0001-89,"16.042,59","16.042,59","16.042,59",0
117,25,119,30/12/2016,CAMARA MUNICIPAL DE CAJAZEIRAS,08.841.553/0001-89,"2.009,00","2.009,00","2.009,00",0

In [3]:
df_instituto_previdencia_2016 = pd.read_csv("02_dados_pre_tratados/dados_instituto_previdencia_2016.csv", sep=";", encoding=result['encoding'])
df_instituto_previdencia_2016

,Despesa,Número,Data,Nome,CPF/CNPJ,Empenhado(R$),Liquidado(R$),Pago(R$),Saldo(R$)
0,126,1,04/01/2016,ANA BEATRIZ DIAS DE OLIVEIRA - ME,04.624.228/0001-03,255,255,255,0
1,132,2,04/01/2016,REGINALDO SOARES MOREIRA - ME,17.852.505/0001-87,500,500,500,0
2,129,3,04/01/2016,LORENA SOARES LACERDA,062.843.174-09,800,800,800,0
3,132,4,04/01/2016,TELEMAR NORTE LESTE S/A,33.000.118/0012-21,"136,4","136,4","136,4",0
4,132,5,04/01/2016,TIM CELULAR S/A,01.009.686/0080-48,"525,54","525,54","525,54",0
...,...,...,...,...,...,...,...,...,...
489,130,496,27/12/2016,WS SERVIÇOS DE CONTABILIDADE LTDA ME,17.231.568/0001-16,"3.000,00","3.000,00","3.000,00",0
490,130,497,29/12/2016,CAIXA ECONOMICA FEDERAL,00.360.305/0040-10,"660,66","660,66","660,66",0
491,137,501,30/12/2016,Instituto de Previdência e Assistência Municip...,12.724.464/0001-20,"51.034,68","51.034,68",0,"51.034,68"
492,137,502,30/12/2016,Instituto de Previdência e Assistência Municip...,12.724.464/0001-20,"2.912,86","2.912,86",0,"2.912,86"
493,138,503,30/12/2016,Instituto de Previdência e Assistência Municip...,12.724.464/0001-20,"20.578,28","20.578,28",0,"20.578,28"

In [4]:
df_prefeitura_2016 = pd.read_csv("02_dados_pre_tratados/dados_prefeitura_2016.csv", sep=";", encoding=result['encoding'])
df_prefeitura_2016

,Despesa,Número,Data,Nome,CPF/CNPJ,Empenhado(R$),Liquidado(R$),Pago(R$),Saldo(R$)
0,958,3,04/01/2016,CAGEPA-COM DE AGUA E ESGOTOS DA PARAIBA,09.123.654/0001-87,"81,12","81,12","81,12",0
1,961,4,04/01/2016,TELEMAR NORTE LESTE S.A.(OI FIXO),33.000.118/0012-21,"74,89","74,89","74,89",0
2,901,5,04/01/2016,BRUNO NATHANAEL LOPES BARRETO,095.318.444-70,"1.500,00","1.500,00","1.500,00",0
3,1173,6,04/01/2016,BRUNO NATHANAEL LOPES BARRETO,095.318.444-70,"2.000,00","2.000,00","2.000,00",0
4,961,26,04/01/2016,TELEMAR NORTE LESTE S.A.(OI FIXO),33.000.118/0012-21,"101,32","101,32","101,32",0
...,...,...,...,...,...,...,...,...,...
7510,615,7242,14/12/2016,MINISTERIO DO MEIO AMBIENTE,37.115.375/0001-07,"169.787,64","169.787,64","169.787,64",0
7511,607,7254,15/12/2016,MARIA DE FATIMA CARTAXO E CIA LTDA,02.737.867/0001-50,"12.137,57","12.137,57","12.137,57",0
7512,602,7323,22/12/2016,Prefeitura Municipal de Cajazeiras,08.923.971/0001-15,"10.822,65","10.822,65","10.822,65",0
7513,602,7440,27/12/2016,Prefeitura Municipal de Cajazeiras,08.923.971/0001-15,"6.116,00","6.116,00","6.116,00",0
7514,607,7491,27/12/2016,MARIA DE FATIMA CARTAXO E CIA LTDA,02.737.867/0001-50,"9.825,80","9.825,80","9.825,80",0

In [5]:
df_sctrans_2016 = pd.read_csv("02_dados_pre_tratados/dados_sctrans_2016.csv", sep=";", encoding=result['encoding'])
df_sctrans_2016

,Despesa,Número,Data,Nome,CPF/CNPJ,Empenhado(R$),Liquidado(R$),Pago(R$),Saldo(R$)
0,70,1,04/01/2016,JESSICA LIMA DAMASCENA - ME,19.713.937/0001-32,590,590,590,0
1,63,2,04/01/2016,SANDRO DIAS DE FREITAS,00.983.013/0001-28,260,260,260,0
2,68,3,04/01/2016,JISNELY FEITOSA NOGUEIRA SERVULO,17.372.598/0001-42,830,830,830,0
3,68,4,04/01/2016,FRANCISCO JOSE ALEXANDRE MOREIRA,01.843.743/0001-96,"2.536,00","2.536,00","2.536,00",0
4,70,5,04/01/2016,EDSON SIMÃO VERISSIMO,075.649.804-00,850,850,850,0
...,...,...,...,...,...,...,...,...,...
324,56,328,30/12/2016,INSS - INSTITUTO NACIONAL DO SEGURO SOCIAL,29.979.036/0169-00,"3.559,78","3.559,78",0,"3.559,78"
325,56,329,30/12/2016,INSS - INSTITUTO NACIONAL DO SEGURO SOCIAL,29.979.036/0169-00,"2.459,08","2.459,08",0,"2.459,08"
326,56,330,30/12/2016,INSS - INSTITUTO NACIONAL DO SEGURO SOCIAL,29.979.036/0169-00,"2.459,08","2.459,08",0,"2.459,08"
327,56,331,30/12/2016,INSS - INSTITUTO NACIONAL DO SEGURO SOCIAL,29.979.036/0169-00,"2.553,10","2.553,10",0,"2.553,10"
328,56,332,30/12/2016,INSS - INSTITUTO NACIONAL DO SEGURO SOCIAL,29.979.036/0169-00,"3.649,60","3.649,60",0,"3.649,60"

## Tratamento dos DataFrames

In [6]:
# Definindo tipos das colunas antes de ler o dataset
columns_types = {'Empenhado(R$)':float,
                'Liquidado(R$)':float,
                'Pago(R$)':float,
                'Saldo(R$)':float}

In [7]:
'''
Função para tratamento dos valores monetários

'''

def tratar_valores(valor):
    
    '''
        Primeiramente, procura-se a localização do ponto, que separava os milhares, e a vírgula que definia os centavos de reais.
    '''
    posicao_virgula = valor.find(',')
    posicao_ponto = valor.find('.') 
    
    '''
        Após o armazenamento das posições de cada separador, armazenava o valor em uma nova string, sem os pontos e vírgulas, 
        e encontrava a nova posição do separador, agora um ponto.
    '''
    string = ''.join(filter(str.isalnum, valor))
    nova_posicao_ponto = posicao_virgula - (len(valor) - len(string))

    '''
        Por fim, após verificar qual condição a nova string se encaixava, retornava-se a nova string com o devido tratamento.
    '''
    if len(string) == len(valor):
        return valor
    
    elif posicao_ponto != -1:        
        string = string[0:nova_posicao_ponto+1] + '.' + string[nova_posicao_ponto+1:]
        return string
    
    else:
        string = string[0:posicao_virgula] + '.' + string[posicao_virgula:]
        return string

### Tratando dados

In [8]:
df_camara_2016['Empenhado(R$)'] = df_camara_2016['Empenhado(R$)'].apply(tratar_valores)
df_camara_2016['Pago(R$)'] = df_camara_2016['Pago(R$)'].apply(tratar_valores)
df_camara_2016['Liquidado(R$)'] = df_camara_2016['Liquidado(R$)'].apply(tratar_valores)
df_camara_2016['Saldo(R$)'] = df_camara_2016['Saldo(R$)'].astype('object')

df_camara_2016

,Despesa,Número,Data,Nome,CPF/CNPJ,Empenhado(R$),Liquidado(R$),Pago(R$),Saldo(R$)
0,8,1,29/01/2016,Câmara Municipal de Cajazeiras,08.841.553/0001-89,198773.28,198773.28,198773.28,0
1,11,2,29/01/2016,Marcos Helder,646.603.624-34,243.5,243.5,243.5,0
2,13,3,29/01/2016,CAMARA MUNICIPAL DE CAJAZEIRAS,08.841.553/0001-89,3304.00,3304.00,3304.00,0
3,16,4,29/01/2016,Marcos Helder,646.603.624-34,6776.00,6776.00,6776.00,0
4,17,5,29/01/2016,CAMARA MUNICIPAL DE CAJAZEIRAS,08.841.553/0001-89,2185.12,2185.12,2185.12,0
...,...,...,...,...,...,...,...,...,...
113,16,115,30/12/2016,Marcos Helder,646.603.624-34,9984.98,9984.98,9984.98,0
114,17,116,30/12/2016,CAMARA MUNICIPAL DE CAJAZEIRAS,08.841.553/0001-89,7810.15,7810.15,7810.15,0
115,22,117,30/12/2016,CAMARA MUNICIPAL DE CAJAZEIRAS,08.841.553/0001-89,54139.40,54139.40,54139.40,0
116,24,118,30/12/2016,CAMARA MUNICIPAL DE CAJAZEIRAS,08.841.553/0001-89,16042.59,16042.59,16042.59,0
117,25,119,30/12/2016,CAMARA MUNICIPAL DE CAJAZEIRAS,08.841.553/0001-89,2009.00,2009.00,2009.00,0

In [9]:
df_instituto_previdencia_2016['Empenhado(R$)'] = df_instituto_previdencia_2016['Empenhado(R$)'].apply(tratar_valores)
df_instituto_previdencia_2016['Pago(R$)'] = df_instituto_previdencia_2016['Pago(R$)'].apply(tratar_valores)
df_instituto_previdencia_2016['Liquidado(R$)'] = df_instituto_previdencia_2016['Liquidado(R$)'].apply(tratar_valores)
df_instituto_previdencia_2016['Saldo(R$)'] = df_instituto_previdencia_2016['Saldo(R$)'].apply(tratar_valores)

df_instituto_previdencia_2016

,Despesa,Número,Data,Nome,CPF/CNPJ,Empenhado(R$),Liquidado(R$),Pago(R$),Saldo(R$)
0,126,1,04/01/2016,ANA BEATRIZ DIAS DE OLIVEIRA - ME,04.624.228/0001-03,255,255,255,0
1,132,2,04/01/2016,REGINALDO SOARES MOREIRA - ME,17.852.505/0001-87,500,500,500,0
2,129,3,04/01/2016,LORENA SOARES LACERDA,062.843.174-09,800,800,800,0
3,132,4,04/01/2016,TELEMAR NORTE LESTE S/A,33.000.118/0012-21,136.4,136.4,136.4,0
4,132,5,04/01/2016,TIM CELULAR S/A,01.009.686/0080-48,525.54,525.54,525.54,0
...,...,...,...,...,...,...,...,...,...
489,130,496,27/12/2016,WS SERVIÇOS DE CONTABILIDADE LTDA ME,17.231.568/0001-16,3000.00,3000.00,3000.00,0
490,130,497,29/12/2016,CAIXA ECONOMICA FEDERAL,00.360.305/0040-10,660.66,660.66,660.66,0
491,137,501,30/12/2016,Instituto de Previdência e Assistência Municip...,12.724.464/0001-20,51034.68,51034.68,0,51034.68
492,137,502,30/12/2016,Instituto de Previdência e Assistência Municip...,12.724.464/0001-20,2912.86,2912.86,0,2912.86
493,138,503,30/12/2016,Instituto de Previdência e Assistência Municip...,12.724.464/0001-20,20578.28,20578.28,0,20578.28

In [10]:
df_prefeitura_2016['Empenhado(R$)'] = df_prefeitura_2016['Empenhado(R$)'].apply(tratar_valores)
df_prefeitura_2016['Pago(R$)'] = df_prefeitura_2016['Pago(R$)'].apply(tratar_valores)
df_prefeitura_2016['Liquidado(R$)'] = df_prefeitura_2016['Liquidado(R$)'].apply(tratar_valores)
df_prefeitura_2016['Saldo(R$)'] = df_prefeitura_2016['Saldo(R$)'].apply(tratar_valores)

df_prefeitura_2016

,Despesa,Número,Data,Nome,CPF/CNPJ,Empenhado(R$),Liquidado(R$),Pago(R$),Saldo(R$)
0,958,3,04/01/2016,CAGEPA-COM DE AGUA E ESGOTOS DA PARAIBA,09.123.654/0001-87,81.12,81.12,81.12,0
1,961,4,04/01/2016,TELEMAR NORTE LESTE S.A.(OI FIXO),33.000.118/0012-21,74.89,74.89,74.89,0
2,901,5,04/01/2016,BRUNO NATHANAEL LOPES BARRETO,095.318.444-70,1500.00,1500.00,1500.00,0
3,1173,6,04/01/2016,BRUNO NATHANAEL LOPES BARRETO,095.318.444-70,2000.00,2000.00,2000.00,0
4,961,26,04/01/2016,TELEMAR NORTE LESTE S.A.(OI FIXO),33.000.118/0012-21,101.32,101.32,101.32,0
...,...,...,...,...,...,...,...,...,...
7510,615,7242,14/12/2016,MINISTERIO DO MEIO AMBIENTE,37.115.375/0001-07,169787.64,169787.64,169787.64,0
7511,607,7254,15/12/2016,MARIA DE FATIMA CARTAXO E CIA LTDA,02.737.867/0001-50,12137.57,12137.57,12137.57,0
7512,602,7323,22/12/2016,Prefeitura Municipal de Cajazeiras,08.923.971/0001-15,10822.65,10822.65,10822.65,0
7513,602,7440,27/12/2016,Prefeitura Municipal de Cajazeiras,08.923.971/0001-15,6116.00,6116.00,6116.00,0
7514,607,7491,27/12/2016,MARIA DE FATIMA CARTAXO E CIA LTDA,02.737.867/0001-50,9825.80,9825.80,9825.80,0

In [11]:
df_sctrans_2016['Empenhado(R$)'] = df_sctrans_2016['Empenhado(R$)'].apply(tratar_valores)
df_sctrans_2016['Pago(R$)'] = df_sctrans_2016['Pago(R$)'].apply(tratar_valores)
df_sctrans_2016['Liquidado(R$)'] = df_sctrans_2016['Liquidado(R$)'].apply(tratar_valores)
df_sctrans_2016['Saldo(R$)'] = df_sctrans_2016['Saldo(R$)'].apply(tratar_valores)

df_sctrans_2016

,Despesa,Número,Data,Nome,CPF/CNPJ,Empenhado(R$),Liquidado(R$),Pago(R$),Saldo(R$)
0,70,1,04/01/2016,JESSICA LIMA DAMASCENA - ME,19.713.937/0001-32,590,590,590,0
1,63,2,04/01/2016,SANDRO DIAS DE FREITAS,00.983.013/0001-28,260,260,260,0
2,68,3,04/01/2016,JISNELY FEITOSA NOGUEIRA SERVULO,17.372.598/0001-42,830,830,830,0
3,68,4,04/01/2016,FRANCISCO JOSE ALEXANDRE MOREIRA,01.843.743/0001-96,2536.00,2536.00,2536.00,0
4,70,5,04/01/2016,EDSON SIMÃO VERISSIMO,075.649.804-00,850,850,850,0
...,...,...,...,...,...,...,...,...,...
324,56,328,30/12/2016,INSS - INSTITUTO NACIONAL DO SEGURO SOCIAL,29.979.036/0169-00,3559.78,3559.78,0,3559.78
325,56,329,30/12/2016,INSS - INSTITUTO NACIONAL DO SEGURO SOCIAL,29.979.036/0169-00,2459.08,2459.08,0,2459.08
326,56,330,30/12/2016,INSS - INSTITUTO NACIONAL DO SEGURO SOCIAL,29.979.036/0169-00,2459.08,2459.08,0,2459.08
327,56,331,30/12/2016,INSS - INSTITUTO NACIONAL DO SEGURO SOCIAL,29.979.036/0169-00,2553.10,2553.10,0,2553.10
328,56,332,30/12/2016,INSS - INSTITUTO NACIONAL DO SEGURO SOCIAL,29.979.036/0169-00,3649.60,3649.60,0,3649.60

## Salvando dados tratados

In [12]:
df_instituto_previdencia_2016.to_csv('03_dados_tratados/dados_instituto_previdencia_2016_tratados.csv', index=False, sep=';')
df_prefeitura_2016.to_csv('03_dados_tratados/dados_prefeitura_2016_tratados.csv', index=False, sep=';')
df_sctrans_2016.to_csv('03_dados_tratados/dados_sctrans_2016_tratados.csv', index=False, sep=';')
df_camara_2016.to_csv('03_dados_tratados/dados_camara_2016_tratados.csv', index=False, sep=';')

## Analisando dados contidos nos dataframes

In [13]:
df_prefeitura_2016['Tipo'] = 1
df_instituto_previdencia_2016['Tipo'] = 2
df_sctrans_2016['Tipo'] = 3
df_camara_2016['Tipo'] = 4

In [14]:
df_dados_acumulados_2016 = pd.merge(df_prefeitura_2016, df_instituto_previdencia_2016, how='outer')
df_dados_acumulados_2016 = pd.merge(df_dados_acumulados_2016, df_sctrans_2016, how='outer')
df_dados_acumulados_2016 = pd.merge(df_dados_acumulados_2016, df_camara_2016, how='outer')
df_dados_acumulados_2016

,Despesa,Número,Data,Nome,CPF/CNPJ,Empenhado(R$),Liquidado(R$),Pago(R$),Saldo(R$),Tipo
0,958,3,04/01/2016,CAGEPA-COM DE AGUA E ESGOTOS DA PARAIBA,09.123.654/0001-87,81.12,81.12,81.12,0,1
1,961,4,04/01/2016,TELEMAR NORTE LESTE S.A.(OI FIXO),33.000.118/0012-21,74.89,74.89,74.89,0,1
2,901,5,04/01/2016,BRUNO NATHANAEL LOPES BARRETO,095.318.444-70,1500.00,1500.00,1500.00,0,1
3,1173,6,04/01/2016,BRUNO NATHANAEL LOPES BARRETO,095.318.444-70,2000.00,2000.00,2000.00,0,1
4,961,26,04/01/2016,TELEMAR NORTE LESTE S.A.(OI FIXO),33.000.118/0012-21,101.32,101.32,101.32,0,1
...,...,...,...,...,...,...,...,...,...,...
8451,16,115,30/12/2016,Marcos Helder,646.603.624-34,9984.98,9984.98,9984.98,0,4
8452,17,116,30/12/2016,CAMARA MUNICIPAL DE CAJAZEIRAS,08.841.553/0001-89,7810.15,7810.15,7810.15,0,4
8453,22,117,30/12/2016,CAMARA MUNICIPAL DE CAJAZEIRAS,08.841.553/0001-89,54139.40,54139.40,54139.40,0,4
8454,24,118,30/12/2016,CAMARA MUNICIPAL DE CAJAZEIRAS,08.841.553/0001-89,16042.59,16042.59,16042.59,0,4
8455,25,119,30/12/2016,CAMARA MUNICIPAL DE CAJAZEIRAS,08.841.553/0001-89,2009.00,2009.00,2009.00,0,4

In [15]:
df_dados_acumulados_2016.drop('Despesa',axis=1, inplace=True)
df_dados_acumulados_2016

,Número,Data,Nome,CPF/CNPJ,Empenhado(R$),Liquidado(R$),Pago(R$),Saldo(R$),Tipo
0,3,04/01/2016,CAGEPA-COM DE AGUA E ESGOTOS DA PARAIBA,09.123.654/0001-87,81.12,81.12,81.12,0,1
1,4,04/01/2016,TELEMAR NORTE LESTE S.A.(OI FIXO),33.000.118/0012-21,74.89,74.89,74.89,0,1
2,5,04/01/2016,BRUNO NATHANAEL LOPES BARRETO,095.318.444-70,1500.00,1500.00,1500.00,0,1
3,6,04/01/2016,BRUNO NATHANAEL LOPES BARRETO,095.318.444-70,2000.00,2000.00,2000.00,0,1
4,26,04/01/2016,TELEMAR NORTE LESTE S.A.(OI FIXO),33.000.118/0012-21,101.32,101.32,101.32,0,1
...,...,...,...,...,...,...,...,...,...
8451,115,30/12/2016,Marcos Helder,646.603.624-34,9984.98,9984.98,9984.98,0,4
8452,116,30/12/2016,CAMARA MUNICIPAL DE CAJAZEIRAS,08.841.553/0001-89,7810.15,7810.15,7810.15,0,4
8453,117,30/12/2016,CAMARA MUNICIPAL DE CAJAZEIRAS,08.841.553/0001-89,54139.40,54139.40,54139.40,0,4
8454,118,30/12/2016,CAMARA MUNICIPAL DE CAJAZEIRAS,08.841.553/0001-89,16042.59,16042.59,16042.59,0,4
8455,119,30/12/2016,CAMARA MUNICIPAL DE CAJAZEIRAS,08.841.553/0001-89,2009.00,2009.00,2009.00,0,4

In [16]:
df_dados_acumulados_2016.to_csv('04_analise_tratamento_carga/dados_acumulados_2016.csv', index=False, sep=';')