In [1]:
import string
import pandas as pd
from unidecode import unidecode
from fuzzywuzzy import fuzz
import re
from random import randint
from bs4 import BeautifulSoup
import requests
import time
import numpy as np

In [2]:
list_data_frames = []

def inserir_df(df):
    list_data_frames.append(df)

In [3]:
df_despesas_2013 = pd.read_csv('C:/Users/allys/Dados_TCC/TCC2/dados/02_despesas/2013/04_analise_tratamento_carga/dados_acumulados_2013.csv', sep=';')
inserir_df(df_despesas_2013)

df_despesas_2014 = pd.read_csv('C:/Users/allys/Dados_TCC/TCC2/dados/02_despesas/2014/04_analise_tratamento_carga/dados_acumulados_2014.csv', sep=';')
inserir_df(df_despesas_2014)

df_despesas_2015 = pd.read_csv('C:/Users/allys/Dados_TCC/TCC2/dados/02_despesas/2015/04_analise_tratamento_carga/dados_acumulados_2015.csv', sep=';')
inserir_df(df_despesas_2015)

df_despesas_2016 = pd.read_csv('C:/Users/allys/Dados_TCC/TCC2/dados/02_despesas/2016/04_analise_tratamento_carga/dados_acumulados_2016.csv', sep=';')
inserir_df(df_despesas_2016)

df_despesas_2017 = pd.read_csv('C:/Users/allys/Dados_TCC/TCC2/dados/02_despesas/2017/04_analise_tratamento_carga/dados_acumulados_2017.csv', sep=';')
inserir_df(df_despesas_2017)

df_despesas_2018 = pd.read_csv('C:/Users/allys/Dados_TCC/TCC2/dados/02_despesas/2018/04_analise_tratamento_carga/dados_acumulados_2018.csv', sep=';')
inserir_df(df_despesas_2018)

df_despesas_2019 = pd.read_csv('C:/Users/allys/Dados_TCC/TCC2/dados/02_despesas/2019/04_analise_tratamento_carga/dados_acumulados_2019.csv', sep=';')
inserir_df(df_despesas_2019)

df_despesas_2020 = pd.read_csv('C:/Users/allys/Dados_TCC/TCC2/dados/02_despesas/2020/04_analise_tratamento_carga/dados_acumulados_2020.csv', sep=';')
inserir_df(df_despesas_2020)

df_despesas_2021 = pd.read_csv('C:/Users/allys/Dados_TCC/TCC2/dados/02_despesas/2021/04_analise_tratamento_carga/dados_acumulados_2021.csv', sep=';')
inserir_df(df_despesas_2021)

df_despesas_2022 = pd.read_csv('C:/Users/allys/Dados_TCC/TCC2/dados/02_despesas/2022/04_analise_tratamento_carga/dados_acumulados_2022.csv', sep=';')
inserir_df(df_despesas_2022)

### Padronizando os dataframes para junção

In [4]:
dic_renomear_colunas = {'Número':'NUMERO',
                        'Nome':'NOME',
                        'Data':'DATA',
                        'Nome':'CONTRIBUINTE',
                        'Empenhado(R$)':'VALOR',
                        'Liquidado(R$)':'LIQUIDADO',
                        'Pago(R$)': 'PAGO',
                        'Saldo(R$)': 'SALDO',
                        'Tipo':'TIPO',
                        'ORGAO':'CONTRIBUINTE'}

def renomear_colunas(df):
    df.rename(columns=dic_renomear_colunas, inplace=True)
    
for df in list_data_frames:
    renomear_colunas(df)

In [5]:
df_despesas_2013.dtypes

NUMERO            int64
DATA             object
CONTRIBUINTE     object
CPF/CNPJ         object
VALOR           float64
LIQUIDADO       float64
PAGO            float64
SALDO           float64
TIPO              int64
dtype: object

In [6]:
df_despesas_2014.dtypes

NUMERO            int64
DATA             object
CONTRIBUINTE     object
CPF/CNPJ         object
VALOR           float64
LIQUIDADO       float64
PAGO            float64
SALDO           float64
TIPO              int64
dtype: object

In [7]:
df_despesas_2015['SALDO'] = df_despesas_2015['SALDO'].astype('float64')
df_despesas_2015.dtypes

NUMERO            int64
DATA             object
CONTRIBUINTE     object
CPF/CNPJ         object
VALOR           float64
LIQUIDADO       float64
PAGO            float64
SALDO           float64
TIPO              int64
dtype: object

In [8]:
df_despesas_2016.dtypes

NUMERO            int64
DATA             object
CONTRIBUINTE     object
CPF/CNPJ         object
VALOR           float64
LIQUIDADO       float64
PAGO            float64
SALDO           float64
TIPO              int64
dtype: object

In [9]:
df_despesas_2017.dtypes

NUMERO            int64
DATA             object
CONTRIBUINTE     object
CPF/CNPJ         object
VALOR           float64
LIQUIDADO       float64
PAGO            float64
SALDO           float64
TIPO              int64
dtype: object

In [10]:
df_despesas_2018.dtypes

NUMERO            int64
DATA             object
CONTRIBUINTE     object
CPF/CNPJ         object
VALOR           float64
LIQUIDADO       float64
PAGO            float64
SALDO           float64
TIPO              int64
dtype: object

In [11]:
df_despesas_2019.dtypes

NUMERO            int64
DATA             object
CONTRIBUINTE     object
CPF/CNPJ         object
VALOR           float64
LIQUIDADO       float64
PAGO            float64
SALDO           float64
TIPO              int64
dtype: object

In [12]:
df_despesas_2020.dtypes

NUMERO            int64
DATA             object
CONTRIBUINTE     object
CPF/CNPJ         object
VALOR           float64
LIQUIDADO       float64
PAGO            float64
SALDO           float64
TIPO              int64
dtype: object

In [18]:
df_despesas_2013.head()

,NUMERO,DATA,CONTRIBUINTE,CPF/CNPJ,VALOR,LIQUIDADO,PAGO,SALDO,TIPO
0,5,03/01/2013,CAGEPA-COM DE AGUA E ESGOTOS DA PARAIBA,09.123.654/0001-87,45.68,45.68,45.68,0.0,1
1,17,30/01/2013,Prefeitura Municipal de Cajazeiras,08.923.971/0001-15,13309.74,13309.74,13309.74,0.0,1
2,68,30/01/2013,BANCO DO BRASIL S.A.,00.000.000/0099-03,37073.10,37073.10,37073.10,0.0,1
3,69,30/01/2013,BANCO DO BRASIL S.A.,00.000.000/0099-03,3223.75,3223.75,3223.75,0.0,1
4,70,30/01/2013,BANCO DO BRASIL S.A.,00.000.000/0099-03,39698.37,39698.37,39698.37,0.0,1

In [13]:
df_despesas_2022.head()

,DATA,CODIGO ORGAO,CONTRIBUINTE,CODIGO DESPESA,DESPESA,DATA INCLUSAO,VALOR,LIQUIDADO,PAGO,SALDO,TIPO
0,29/12/2022,2140,Fundo Municipal de Assistência Social,339030,Material de Consumo,09/01/2023,9538.85,0.00,0.00,9538.85,1
1,29/12/2022,2140,Fundo Municipal de Assistência Social,339030,Material de Consumo,09/01/2023,8010.40,0.00,0.00,8010.40,1
2,29/12/2022,2040,Secretaria Municipal da Fazenda Pública,339039,Outros Serviços de Terceiros - Pessoa Jurídica,09/01/2023,166.36,166.36,166.36,0.00,1
3,29/12/2022,2090,Secretaria Municipal de Educação,449052,Equipamentos e Material Permanente,09/01/2023,63000.00,0.00,0.00,63000.00,1
4,29/12/2022,2090,Secretaria Municipal de Educação,339030,Material de Consumo,09/01/2023,3640.80,0.00,3640.80,0.00,1

### Merge dos DF

In [14]:
dados_2020 = ['DATA','CPF/CNPJ','CONTRIBUINTE','VALOR','LIQUIDADO','PAGO','SALDO','TIPO']
dados_2022 = ['DATA','CONTRIBUINTE','VALOR','LIQUIDADO','PAGO','SALDO','TIPO']

df_dados_completos_2020 = pd.DataFrame(columns=dados_2020)
df_dados_completos_2022 = pd.DataFrame(columns=dados_2022)

In [15]:
def merge_dataframes(lista_dataframes, colunas_sem_valores):
    
    df_final = colunas_sem_valores.copy() # cria uma cópia do DataFrame das colunas sem valores
    
    for df in lista_dataframes:
        df_final = pd.merge(df_final, df, on=list(df_final.columns), how='outer') # mescla o DataFrame atual com o DataFrame das colunas
        
    return df_final

In [17]:
df_dados_completos_2020 = merge_dataframes(list_data_frames[:8],df_dados_completos_2020)

df_dados_completos_2020.drop('NUMERO', axis=1, inplace=True)
df_dados_completos_2020

,DATA,CONTRIBUINTE,CPF/CNPJ,VALOR,LIQUIDADO,PAGO,SALDO,TIPO
0,03/01/2013,CAGEPA-COM DE AGUA E ESGOTOS DA PARAIBA,09.123.654/0001-87,45.68,45.68,45.68,0.0,1
1,30/01/2013,Prefeitura Municipal de Cajazeiras,08.923.971/0001-15,13309.74,13309.74,13309.74,0.0,1
2,30/01/2013,BANCO DO BRASIL S.A.,00.000.000/0099-03,37073.10,37073.10,37073.10,0.0,1
3,30/01/2013,BANCO DO BRASIL S.A.,00.000.000/0099-03,3223.75,3223.75,3223.75,0.0,1
4,30/01/2013,BANCO DO BRASIL S.A.,00.000.000/0099-03,39698.37,39698.37,39698.37,0.0,1
...,...,...,...,...,...,...,...,...
67869,31/12/2020,CAMARA MUNICIPAL DE CAJAZEIRAS,08.841.553/0001-89,64849.34,64849.34,64849.34,0.0,4
67870,31/12/2020,CAMARA MUNICIPAL DE CAJAZEIRAS,08.841.553/0001-89,11300.00,11300.00,11300.00,0.0,4
67871,31/12/2020,CAMARA MUNICIPAL DE CAJAZEIRAS,08.841.553/0001-89,52999.00,52999.00,52999.00,0.0,4
67872,31/12/2020,CAMARA MUNICIPAL DE CAJAZEIRAS,08.841.553/0001-89,137320.72,137320.72,137320.72,0.0,4
67873,31/12/2020,CAMARA MUNICIPAL DE CAJAZEIRAS,08.841.553/0001-89,28480.89,28480.89,28480.89,0.0,4

In [19]:
def tratar_coluna(df, coluna):
    
    # remove sinais de pontuação e símbolos
    table = str.maketrans('', '', string.punctuation)
    df[coluna] = df[coluna].apply(lambda x: str(x).translate(table))
    
    # remove acentuação gráfica
    df[coluna] = df[coluna].apply(lambda x: unidecode(x))
    
    # converte todos os caracteres para minúsculas
    df[coluna] = df[coluna].str.lower()
    
    return df

In [20]:
df_dados_completos_tratados_2020 = tratar_coluna(df_dados_completos_2020, 'CONTRIBUINTE')
df_dados_completos_tratados_2020

,DATA,CONTRIBUINTE,CPF/CNPJ,VALOR,LIQUIDADO,PAGO,SALDO,TIPO
0,03/01/2013,cagepacom de agua e esgotos da paraiba,09.123.654/0001-87,45.68,45.68,45.68,0.0,1
1,30/01/2013,prefeitura municipal de cajazeiras,08.923.971/0001-15,13309.74,13309.74,13309.74,0.0,1
2,30/01/2013,banco do brasil sa,00.000.000/0099-03,37073.10,37073.10,37073.10,0.0,1
3,30/01/2013,banco do brasil sa,00.000.000/0099-03,3223.75,3223.75,3223.75,0.0,1
4,30/01/2013,banco do brasil sa,00.000.000/0099-03,39698.37,39698.37,39698.37,0.0,1
...,...,...,...,...,...,...,...,...
67869,31/12/2020,camara municipal de cajazeiras,08.841.553/0001-89,64849.34,64849.34,64849.34,0.0,4
67870,31/12/2020,camara municipal de cajazeiras,08.841.553/0001-89,11300.00,11300.00,11300.00,0.0,4
67871,31/12/2020,camara municipal de cajazeiras,08.841.553/0001-89,52999.00,52999.00,52999.00,0.0,4
67872,31/12/2020,camara municipal de cajazeiras,08.841.553/0001-89,137320.72,137320.72,137320.72,0.0,4
67873,31/12/2020,camara municipal de cajazeiras,08.841.553/0001-89,28480.89,28480.89,28480.89,0.0,4

In [22]:
df_dados_completos_2022 = merge_dataframes(list_data_frames[8:],df_dados_completos_2022)

df_dados_completos_2022.drop('CODIGO ORGAO', axis=1, inplace=True)
df_dados_completos_2022.drop('CODIGO DESPESA', axis=1, inplace=True)
df_dados_completos_2022.drop('DESPESA', axis=1, inplace=True)
df_dados_completos_2022.drop('DATA INCLUSAO', axis=1, inplace=True)

df_dados_completos_2022

,DATA,CONTRIBUINTE,VALOR,LIQUIDADO,PAGO,SALDO,TIPO
0,31/12/2021,Fundo Municipal de Assistência Social,10.45,10.45,10.45,0.00,1
1,31/12/2021,Fundo Municipal de Assistência Social,17820.00,17820.00,17820.00,0.00,1
2,31/12/2021,Fundo Municipal de Assistência Social,24525.03,24525.03,24525.03,0.00,1
3,31/12/2021,Fundo Municipal de Assistência Social,61859.51,61859.51,61859.51,0.00,1
4,31/12/2021,Secretaria Municipal de Desenvolvimento Humano,6500.00,6500.00,6500.00,0.00,1
...,...,...,...,...,...,...,...
82023,17/01/2022,Câmara Municipal,31400.00,31400.00,31400.00,0.00,4
82024,17/01/2022,Câmara Municipal,29228.80,29228.80,29228.80,0.00,4
82025,17/01/2022,Câmara Municipal,154920.00,154920.00,154920.00,0.00,4
82026,03/01/2022,Câmara Municipal,4000.00,3360.24,3360.24,474.76,4
82027,03/01/2022,Câmara Municipal,4000.00,2198.75,2198.75,310.20,4

In [23]:
df_dados_completos_tratados_2022 = tratar_coluna(df_dados_completos_2022, 'CONTRIBUINTE')
df_dados_completos_tratados_2022

,DATA,CONTRIBUINTE,VALOR,LIQUIDADO,PAGO,SALDO,TIPO
0,31/12/2021,fundo municipal de assistencia social,10.45,10.45,10.45,0.00,1
1,31/12/2021,fundo municipal de assistencia social,17820.00,17820.00,17820.00,0.00,1
2,31/12/2021,fundo municipal de assistencia social,24525.03,24525.03,24525.03,0.00,1
3,31/12/2021,fundo municipal de assistencia social,61859.51,61859.51,61859.51,0.00,1
4,31/12/2021,secretaria municipal de desenvolvimento humano,6500.00,6500.00,6500.00,0.00,1
...,...,...,...,...,...,...,...
82023,17/01/2022,camara municipal,31400.00,31400.00,31400.00,0.00,4
82024,17/01/2022,camara municipal,29228.80,29228.80,29228.80,0.00,4
82025,17/01/2022,camara municipal,154920.00,154920.00,154920.00,0.00,4
82026,03/01/2022,camara municipal,4000.00,3360.24,3360.24,474.76,4
82027,03/01/2022,camara municipal,4000.00,2198.75,2198.75,310.20,4

In [24]:
df_contribuintes_receitas_2020 = pd.DataFrame(df_dados_completos_tratados_2020[['CPF/CNPJ','CONTRIBUINTE']])
df_contribuintes_receitas_2020

                 CPF/CNPJ                            CONTRIBUINTE
0      09.123.654/0001-87  cagepacom de agua e esgotos da paraiba
1      08.923.971/0001-15      prefeitura municipal de cajazeiras
2      00.000.000/0099-03                      banco do brasil sa
3      00.000.000/0099-03                      banco do brasil sa
4      00.000.000/0099-03                      banco do brasil sa
...                   ...                                     ...
67869  08.841.553/0001-89          camara municipal de cajazeiras
67870  08.841.553/0001-89          camara municipal de cajazeiras
67871  08.841.553/0001-89          camara municipal de cajazeiras
67872  08.841.553/0001-89          camara municipal de cajazeiras
67873  08.841.553/0001-89          camara municipal de cajazeiras

[67874 rows x 2 columns]

In [25]:
df_contribuintes_receitas_2020.drop_duplicates(subset=['CPF/CNPJ'],keep='first', inplace=True)
df_contribuintes_receitas_2020

                 CPF/CNPJ                                       CONTRIBUINTE
0      09.123.654/0001-87             cagepacom de agua e esgotos da paraiba
1      08.923.971/0001-15                 prefeitura municipal de cajazeiras
2      00.000.000/0099-03                                 banco do brasil sa
19     09.283.185/0001-63              poder judiciario do estado da paraiba
34         738.558.394-68                     henrique sergio alves da cunha
...                   ...                                                ...
67523  04.129.689/0001-00  intellisistemas  sistemas de automacao e manut...
67549  11.050.301/0002-27                                 roma calcados ltda
67727  37.372.428/0001-75                                 cassiano maia neto
67763  33.430.297/0001-84                       any muriely da silva andrade
67792  28.767.719/0001-71  pereira e oliveira comercio varejista de bombo...

[5897 rows x 2 columns]

In [26]:
df_contribuintes_receitas_2022 = pd.DataFrame(df_dados_completos_tratados_2022['CONTRIBUINTE'])
df_contribuintes_receitas_2022.drop_duplicates(subset=['CONTRIBUINTE'],keep='first', inplace=True)
df_contribuintes_receitas_2022

                                            CONTRIBUINTE
0                  fundo municipal de assistencia social
4         secretaria municipal de desenvolvimento humano
15                              fundo municipal de saude
102                     secretaria municipal de educacao
105     secretaria municipal de juventude esporte e t...
107                      procuradoria geral do municipio
110              secretaria municipal da fazenda publica
111                        secretaria municipal de saude
114         secretaria de governo e articulacao politica
115           secretaria municipal de politicas publicas
116     secretaria municipal de politicas publicas pa...
117            secretaria municipal de cultura e turismo
119              secretaria municipal de controle social
123     secretaria municipal do desenvolvimento rural...
125               secretaria municipal de infraestrutura
126                secretaria municipal de administracao
132                 secretaria municipal de planejamento
31663   instituto de previdencia e assistencia munici...
31899          superintendencia cajazeirense de transito
32547                                   camara municipal
33157                secretaria municipal de comunicacao
33159              secretaria municipal de meio ambiente
33163        secretaria municipal de juventude e esporte
33165   secretaria municipal do desenvolvimento rural...

In [27]:
def compare_columns(df_comparador, column_comparador, df_comparacao, column_comparacao, doc_column):
    # Cria cópias dos dataframes para evitar alterações indesejadas nos dados originais
    df1_copy = df_comparador.copy()
    df2_copy = df_comparacao.copy()

    # Cria uma nova coluna nos dataframes, caso ela ainda não exista
    if doc_column not in df1_copy.columns:
        df1_copy[doc_column] = pd.Series(dtype=str)
    if doc_column not in df2_copy.columns:
        df2_copy[doc_column] = pd.Series(dtype=str)

    # Remove valores numéricos e caracteres especiais das colunas de comparação
    df1_copy[column_comparador] = df1_copy[column_comparador].apply(lambda x: re.sub('[^A-Za-z ]+', '', x))
    df2_copy[column_comparacao] = df2_copy[column_comparacao].apply(lambda x: re.sub('[^A-Za-z ]+', '', x))

    # Cria as listas dos valores similares e não similares
    valores_similares = []
    valores_nao_similares = []

    # Percorre cada linha dos dataframes usando loops aninhados
    for index1, row1 in df1_copy.iterrows():
        is_similar = False
        for index2, row2 in df2_copy.iterrows():
            # Calcula a similaridade entre as duas strings usando a função `fuzz.token_sort_ratio()`
            similarity = fuzz.token_sort_ratio(row1[column_comparador], row2[column_comparacao])
            # Verifica se a similaridade é superior a 90%
            if similarity > 90:
                is_similar = True
                # Verifica se o número do documento já está presente em um dos dataframes
                if pd.isna(row1[doc_column]):
                    df1_copy.at[index1, doc_column] = row2[doc_column]
                elif pd.isna(row2[doc_column]):
                    df2_copy.at[index2, doc_column] = row1[doc_column]
                valores_similares.append(row2[column_comparacao])
                break
        if not is_similar:
            valores_nao_similares.append(row1[column_comparador])

    # Realiza o merge dos dataframes
    merged_df = pd.merge(df1_copy, df2_copy, how='outer')

    # Retorna os valores similares, não similares e o merge dos dataframes
    return valores_similares, valores_nao_similares, merged_df

In [30]:
valores_similares, valores_nao_similares, df_juncao_contribuintes_gerais = compare_columns(df_contribuintes_receitas_2020,'CONTRIBUINTE',df_contribuintes_receitas_2022,'CONTRIBUINTE','CPF/CNPJ')

In [31]:
df_juncao_contribuintes_gerais

                CPF/CNPJ                                       CONTRIBUINTE
0     09.123.654/0001-87             cagepacom de agua e esgotos da paraiba
1     08.923.971/0001-15                 prefeitura municipal de cajazeiras
2     00.000.000/0099-03                                 banco do brasil sa
3     09.283.185/0001-63              poder judiciario do estado da paraiba
4         738.558.394-68                     henrique sergio alves da cunha
...                  ...                                                ...
5916                 NaN                                   camara municipal
5917                 NaN                secretaria municipal de comunicacao
5918                 NaN              secretaria municipal de meio ambiente
5919                 NaN        secretaria municipal de juventude e esporte
5920                 NaN   secretaria municipal do desenvolvimento rural...

[5921 rows x 2 columns]

In [32]:
df_sem_duplicatas = df_juncao_contribuintes_gerais.drop_duplicates(subset=['CONTRIBUINTE'], keep='first')
df_sem_duplicatas

                CPF/CNPJ                                       CONTRIBUINTE
0     09.123.654/0001-87             cagepacom de agua e esgotos da paraiba
1     08.923.971/0001-15                 prefeitura municipal de cajazeiras
2     00.000.000/0099-03                                 banco do brasil sa
3     09.283.185/0001-63              poder judiciario do estado da paraiba
4         738.558.394-68                     henrique sergio alves da cunha
...                  ...                                                ...
5916                 NaN                                   camara municipal
5917                 NaN                secretaria municipal de comunicacao
5918                 NaN              secretaria municipal de meio ambiente
5919                 NaN        secretaria municipal de juventude e esporte
5920                 NaN   secretaria municipal do desenvolvimento rural...

[5877 rows x 2 columns]

In [33]:
def preencher_cpf_cnpj(df):
    # Cria uma cópia do dataframe para evitar a perda dos dados originais
    df_novo = df.copy()

    # Verifica se existem células vazias na coluna 'CPF/CNPJ'
    cnpj_vazio = df_novo['CPF/CNPJ'].isnull() | (df_novo['CPF/CNPJ'] == '')

    # Cria um array com valores únicos de CPF/CNPJ para evitar a criação de códigos repetidos
    cpf_cnpj_unicos = df_novo['CPF/CNPJ'].unique()

    # Itera pelas linhas do dataframe com CPF/CNPJ vazio
    for i, row in df_novo[cnpj_vazio].iterrows():
        # Gera um novo código único de até 14 dígitos
        novo_codigo = np.random.randint(10**13, 10**14, dtype=np.int64)

        # Verifica se o código gerado já existe no dataframe original
        while novo_codigo in cpf_cnpj_unicos:
            novo_codigo = np.random.randint(10**13, 10**14, dtype=np.int64)

        # Adiciona o novo código na célula vazia correspondente
        df_novo.loc[i, 'CPF/CNPJ'] = novo_codigo

        # Adiciona o novo código na lista de CPF/CNPJ únicos
        cpf_cnpj_unicos = np.append(cpf_cnpj_unicos, novo_codigo)

    return df_novo

In [34]:
df_sem_duplicatas = preencher_cpf_cnpj(df_sem_duplicatas)
df_sem_duplicatas

                CPF/CNPJ                                       CONTRIBUINTE
0     09.123.654/0001-87             cagepacom de agua e esgotos da paraiba
1     08.923.971/0001-15                 prefeitura municipal de cajazeiras
2     00.000.000/0099-03                                 banco do brasil sa
3     09.283.185/0001-63              poder judiciario do estado da paraiba
4         738.558.394-68                     henrique sergio alves da cunha
...                  ...                                                ...
5916      16996749252398                                   camara municipal
5917      77161634236716                secretaria municipal de comunicacao
5918      63740464849118              secretaria municipal de meio ambiente
5919      94174661748203        secretaria municipal de juventude e esporte
5920      99950380566339   secretaria municipal do desenvolvimento rural...

[5877 rows x 2 columns]