<a href="https://colab.research.google.com/github/AllysonAbreu/dw_contas_publicas_2022/blob/master/analise_regressiva_logistica.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Imports bibliotecas

In [4]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import scipy.stats as stats
from datetime import datetime
from sklearn import metrics
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score
import warnings

# Dados para análise

In [5]:
df_receitas = pd.read_csv('dados_receitas.csv', sep=';')
df_receitas

,COD_RECEITA,DATA,COD_CONTRIBUINTE,VALOR_ARRECADADO,FONTE_DADOS
0,1722010101,2013-01-03,886cd0eabf5a18,185560.68,prefeitura municipal
1,1722010101,2013-01-04,886cd0eabf5a18,8081.80,prefeitura municipal
2,1722010101,2013-01-07,886cd0eabf5a18,4231.39,prefeitura municipal
3,1722010101,2013-01-08,886cd0eabf5a18,10536.53,prefeitura municipal
4,1722010101,2013-01-15,886cd0eabf5a18,103118.27,prefeitura municipal
...,...,...,...,...,...
102288,191101011,2022-01-19,e6da541375c18b,4374.24,sctrans
102289,112101011,2022-01-18,e6da541375c18b,228.00,sctrans
102290,191101011,2022-01-18,e6da541375c18b,3758.69,sctrans
102291,112101011,2022-01-17,e6da541375c18b,4297.00,sctrans
102292,191101011,2022-01-17,e6da541375c18b,78032.06,sctrans

In [6]:
df_receitas_copy = df_receitas[['COD_RECEITA','DATA','COD_CONTRIBUINTE','VALOR_ARRECADADO']].copy()
df_receitas_copy.rename(columns={'COD_RECEITA':'cod_receita','DATA':'data_fato','COD_CONTRIBUINTE':'contribuinte_receita','VALOR_ARRECADADO':'valor'}, inplace=True)
df_receitas_copy['data_fato'] = pd.to_datetime(df_receitas_copy['data_fato'], format='%Y-%m-%d')
df_receitas_copy['ano'] = df_receitas_copy['data_fato'].dt.year
df_receitas_copy['mes'] = df_receitas_copy['data_fato'].dt.month
df_receitas_copy['dia'] = df_receitas_copy['data_fato'].dt.day
df_receitas_copy['mes_ano'] = df_receitas_copy['data_fato'].dt.strftime('%m-%Y')
df_receitas_copy

,cod_receita,data_fato,contribuinte_receita,valor,ano,mes,dia,mes_ano
0,1722010101,2013-01-03,886cd0eabf5a18,185560.68,2013,1,3,01-2013
1,1722010101,2013-01-04,886cd0eabf5a18,8081.80,2013,1,4,01-2013
2,1722010101,2013-01-07,886cd0eabf5a18,4231.39,2013,1,7,01-2013
3,1722010101,2013-01-08,886cd0eabf5a18,10536.53,2013,1,8,01-2013
4,1722010101,2013-01-15,886cd0eabf5a18,103118.27,2013,1,15,01-2013
...,...,...,...,...,...,...,...,...
102288,191101011,2022-01-19,e6da541375c18b,4374.24,2022,1,19,01-2022
102289,112101011,2022-01-18,e6da541375c18b,228.00,2022,1,18,01-2022
102290,191101011,2022-01-18,e6da541375c18b,3758.69,2022,1,18,01-2022
102291,112101011,2022-01-17,e6da541375c18b,4297.00,2022,1,17,01-2022
102292,191101011,2022-01-17,e6da541375c18b,78032.06,2022,1,17,01-2022

In [7]:
# Contagem de valores ausentes por coluna
print(df_receitas_copy.isnull().sum())

# Remoção dos valores ausentes
df_receitas_copy.dropna(inplace=True)

cod_receita             0
data_fato               0
contribuinte_receita    0
valor                   0
ano                     0
mes                     0
dia                     0
mes_ano                 0
dtype: int64